<template>
  <div class="ui grid">
    <div class="row">
      <div class="column">

        <div class="ui breadcrumb">
          <a href="/" class="section">{{ $t('home') }}</a>
          <div class="divider"> / </div>
          <span class="section">{{ $t('shop') }}</span>
          <div class="divider"> / </div>
          <div class="active section">{{ $t('distributor') }}</div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="column">
        <img src="/static/images/shop/distributor.jpg" class="ui image">
      </div>
    </div>

    <div class="row">
      <div class="column">
        <justified-content>
          <p>
            {{ $t('shop_distributor_description') }}
          </p>
        </justified-content>
      </div>
    </div>

  </div>
</template>

<script>
import JustifiedContent from '@/components/common/JustifiedContent'

export default {
  name: 'shop-distributor',

  components: {
    JustifiedContent
  }
}
</script>

<style scoped>

</style>
