<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/bucketfeet/1/1.jpg" class="ui centered medium bordered image">
      <br>

      <p>
        美國品牌Bucketfeet 成立而來，一直與世界各地的藝術家合作，至今已經與超過一百位來自世界各地的藝術家合作，將藝術家的作品演變成不同的時尚鞋履，將藝術融入生活。Bucketfeet於2017年繼續勇於向前，更將中國元素帶入鞋履之中，加入中國風，以另一種角度展現中國文化，給人煥然一新的感覺。
      </p>

      <p>
        Bucketfeet 今次為大家帶來具有中國元素的鞋履名為Chinese Porcelain由來自美國的Austin 所設計，Austin 是一位時尚織品的設計師，在求學時期曾經到亞洲學習，更學習製作傳統的工藝作品，亦因此引發她對中國傳統文化的喜愛，更創作了不少相關的作品。今次，Austin 以中國瓷器概念加入Bucketfeet 的鞋履之中，將枇杷樹的花及樹葉圖案融入當中，並以藍色作為圖案的顏色，配合周邊純白色的主色，仿如一個傳統的中國瓷器，卻以另外一種形式展示給大家，將中國風發揮在不同的層面上。
      </p>

      <p>
        近年中國風越吹越熱，不少item 都加入中國元素但卻不易駕馭，Bucketfeet 的Chinese Porcelain 簡單中見其中國特色，是中國風item 入手的好選擇。
      </p>

      <div class="ui centered card">
        <div class="image">
          <img src="/static/images/news/bucketfeet/1/3.png">
        </div>
        <div class="content">
          <a class="header">Chinese Porcelain</a>
        </div>
        <div class="extra content">
          售價$700港幣
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/bucketfeet/1/1.jpg" class="ui centered medium bordered image">
      <br>
      <p>
        美国品牌Bucketfeet 成立而来，一直与世界各地的艺术家合作，至今已经与超过一百位来自世界各地的艺术家合作，将艺术家的作品演变成不同的时尚鞋履，将艺术融入生活。 Bucketfeet于2017年继续勇于向前，更将中国元素带入鞋履之中，加入中国风，以另一种角度展现中国文化，给人焕然一新的感觉。
      </p>

      <p>
        Bucketfeet 今次为大家带来具有中国元素的鞋履名为Chinese Porcelain由来自美国的Austin 所设计，Austin 是一位时尚织品的设计师，在求学时期曾经到亚洲学习，更学习制作传统的工艺作品，亦因此引发她对中国传统文化的喜爱，更创作了不少相关的作品。今次，Austin 以中国瓷器概念加入Bucketfeet 的鞋履之中，将枇杷树的花及树叶图案融入当中，并以蓝色作为图案的颜色，配合周边纯白色的主色，仿如一个传统的中国瓷器，却以另外一种形式展示给大家，将中国风发挥在不同的层面上。
      </p>

      <p>
        近年中国风越吹越热，不少item 都加入中国元素但却不易驾驭，Bucketfeet 的Chinese Porcelain 简单中见其中国特色，是中国风item 入手的好选择。
      </p>

      <div class="ui centered card">

        <div class="image">

          <img src="/static/images/news/bucketfeet/1/3.png">
        </div>

        <div class="content">

          <a class="header">Chinese Porcelain</a>
        </div>

        <div class="extra content">
          售价$700港币
        </div>
      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '融入中國風Bucketfeet瓷器slip on',
        tc: '融入中國風Bucketfeet瓷器slip on',
        sc: '融入中国风Bucketfeet瓷器slip on'
      }
    }
  }
}
</script>

<style scoped>
.ui.card {
  width: 50%;
  background-color: #FFFFFF;
}
</style>
