<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/bucketfeet/2/1.jpg" class="ui centered medium bordered image">

      <br>

      <p>
        美國品牌Bucketfeet 創立而來不斷和世界各地的藝術家合作，創作無數對與別不同的鞋履，將世界上各種藝術文化帶給大家。來到2017年，Bucketfeet繼續與藝術家們合作，頭炮的中國風陶瓷圖案Chinese Porcelain大受歡迎，而繼中國風後，來自非洲的野生動物亦隆重登場。
      </p>

      <p>
        Buckefeet 是次為大家帶來的是由來自紐約的Kelsey 設計的Wild，Keysley 已不止一次為Bucketfeet 設計鞋履，而且每次均大受歡迎。Kelsey 設計鞋履的風格一直深受來自非洲野生動物及阿茲特克文明所影響，創作出不少甚具活力的作品，而今次 Keysley 以黑色布料為鞋履的底色襯上一個錯綜複雜的圖案併砌成非洲兇猛獅子的圖案，那獅子彷彿正專注地注視著獵物一樣，而且當中的圖案更具有非洲土人們特色，仿似他們使用的面具一般，整個圖案令人感受到非洲那原始野生動物們的魄力及野性觸覺。
      </p>

      <p>
        Bucketfett 為大家帶來非洲風格的slip on，將不同地方的特色展現眼前，或許是次的野無獅子能喚醒了人們潛在的野性一面。
      </p>

      <div class="ui centered card">
        <div class="image">
          <img src="/static/images/news/bucketfeet/2/2.png">
        </div>
        <div class="content">
          <a class="header">WILD</a>
        </div>
        <div class="extra content">
          售價$700港幣
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/bucketfeet/2/1.jpg" class="ui centered medium bordered image">

      <br>

      <p>
        美国品牌Bucketfeet 创立而来不断和世界各地的艺术家合作，创作无数对与别不同的鞋履，将世界上各种艺术文化带给大家。来到2017年，Bucketfeet继续与艺术家们合作，头炮的中国风陶瓷图案Chinese Porcelain大受欢迎，而继中国风后，来自非洲的野生动物亦隆重登场。
      </p>

      <p>
        Buckefeet 是次为大家带来的是由来自纽约的Kelsey 设计的Wild，Keysley 已不止一次为Bucketfeet 设计鞋履，而且每次均大受欢迎。 Kelsey 设计鞋履的风格一直深受来自非洲野生动物及阿兹特克文明所影响，创作出不少甚具活力的作品，而今次Keysley 以黑色布料为鞋履的底色衬上一个错综复杂的图案并砌成非洲凶猛狮子的图案，那狮子仿佛正专注地注视着猎物一样，而且当中的图案更具有非洲土人们特色，仿似他们使用的面具一般，整个图案令人感受到非洲那原始野生动物们的魄力及野性触觉。
      </p>

      <p>
        Bucketfett 为大家带来非洲风格的slip on，将不同地方的特色展现眼前，或许是次的野无狮子能唤醒了人们潜在的野性一面。
      </p>

      <div class="ui centered card">
        <div class="image">
          <img src="/static/images/news/bucketfeet/2/2.png">
        </div>

        <div class="content">

          <a class="header">WILD</a>
        </div>

        <div class="extra content">
          售价$700港币
        </div>
      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '凝視的獅子 Bucketfeet非洲風 slip on',
        tc: '凝視的獅子 Bucketfeet非洲風 slip on',
        sc: '凝视的狮子 Bucketfeet非洲风 slip on'
      }
    }
  }
}
</script>

<style scoped>
.ui.card {
  width: 50%;
  background-color: #FFFFFF;
}
</style>
