<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/butterfly_twists/1/1.png" class="ui centered medium bordered image">
      <br>

      <p>
        英國品牌Butterfly Twists 自今年開始進行變革，以全新形象示人，新的logo 以線條代表品牌蝴蝶的象徵，較過去更為摩登。隨著變革，Butterfly Twists 將會帶來更多不同款式的鞋履，新鞋款的頭炮便在今個復活節隆重推出！
      </p>

      <p>
        Butterfly Twists 全新推出的鞋款名為Gigi，Gigi 分別有三種顏色，包括桃紅、紫藍及黑色，迎合不同女性的喜好，Gigi更附有Butterfly Twists 鞋履一直以來的特點—極柔軟的記憶海綿，使女士們穿起來更舒適。此外，Gigi鞋身印浮雕蟒蛇紋圖案，更首次襯上現時極為受歡迎的黃麻編織鞋底及鞋邊，對比中蘊藏和諧，整個感覺時尚新穎，而且黃麻編織鞋底是由法國的農民發明，特性堅韌耐磨，不易斷裂，而且有通風透涼的效果，更令人想起那美好的海灘，特別適合與朋友們一同到戶外時穿著。
      </p>

      <p>
        Butterfly Twists 變革後全新鞋款Gigi既切合時尚品味，又方便舒適，更是去戶外的好拍檔，不妨穿上後和三五知己率先感受陽光與海灘的魅力。
      </p>

      <div class="ui stackable three column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/1/4.png">
            </div>
            <div class="content">
              <a class="header">Gigi – Hot Pink</a>
            </div>
            <div class="extra content">
              售價$420港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/1/2.png">
            </div>
            <div class="content">
              <a class="header">Gigi – Amethyst</a>
            </div>
            <div class="extra content">
              售價$420港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/1/3.png">
            </div>
            <div class="content">
              <a class="header">Gigi – Black</a>
            </div>
            <div class="extra content">
              售價$420港幣
            </div>
          </div>
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/butterfly_twists/1/1.png" class="ui centered medium bordered image">
      <br>

      <p>
        英国品牌Butterfly Twists 自今年开始进行变革，以全新形象示人，新的logo 以线条代表品牌蝴蝶的象征，较过去更为摩登。随着变革，Butterfly Twists 将会带来更多不同款式的鞋履，新鞋款的头炮便在今个复活节隆重推出！
      </p>

      <p>
        Butterfly Twists 全新推出的鞋款名为Gigi，Gigi 分别有三种颜色，包括桃红、紫蓝及黑色，迎合不同女性的喜好，Gigi更附有Butterfly Twists 鞋履一直以来的特点—极柔软的记忆海绵，使女士们穿起来更舒适。此外，Gigi鞋身印浮雕蟒蛇纹图案，更首次衬上现时极为受欢迎的黄麻编织鞋底及鞋边，对比中蕴藏和谐，整个感觉时尚新颖，而且黄麻编织鞋底是由法国的农民发明，特性坚韧耐磨，不易断裂，而且有通风透凉的效果，更令人想起那美好的海滩，特别适合与朋友们一同到户外时穿着。
      </p>

      <p>
        Butterfly Twists 变革后全新鞋款Gigi既切合时尚品味，又方便舒适，更是去户外的好拍档，不妨穿上后和三五知己率先感受阳光与海滩的魅力。
      </p>

      <div class="ui stackable three column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/butterfly_twists/1/4.png">
            </div>

            <div class="content">

              <a class="header">Gigi – Hot Pink</a>
            </div>

            <div class="extra content">
              售价$420港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/butterfly_twists/1/2.png">
            </div>

            <div class="content">

              <a class="header">Gigi – Amethyst</a>
            </div>

            <div class="extra content">
              售价$420港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/butterfly_twists/1/3.png">
            </div>

            <div class="content">

              <a class="header">Gigi – Black</a>
            </div>

          <div class="extra content">
              售价$420港币
            </div>
          </div>
        </div>
      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Butterfly Twists 新款頭炮 黃麻編織 GIGI',
        tc: 'Butterfly Twists 新款頭炮 黃麻編織 GIGI',
        sc: 'Butterfly Twists 新款头炮 黄麻编织 GIGI'
      }
    }
  }
}
</script>

<style scoped>

</style>
