<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/butterfly_twists/2/7.jpg" class="ui centered large bordered image">

      <br>

      <p>
        英國品牌Butterfly Twists自創立而來，以舒適、時尚的鞋履奪取一眾女士們的芳心。Butterfly Twists一眾鞋履當中，方便攜帶及可摺疊的鞋款更大受 OL們歡迎，適合女士們於不同場合迅即改變造型，面對生活上不同的挑戰，切合一眾現代女性。
      </p>

      <p>
        Butterfly Twists 可摺疊的鞋履當中，以鞋款Olivia 最為受歡迎，Olivia 共有四種顏色，每一款都由兩種顏色配襯而成，分別是珊瑚襯鴿子灰、乳白襯粉藍、乳白襯黑及由兩種不同深度的黑色襯搭。Olivia 以不同顏色的配襯，增加鞋履的可觀度，加能使鞋履更看搶眼，而幾款不同顏色的配襯適合不同類形的女士。此外，Olivia 於鞋頭上加添了一個小蝴蝶，尤如女士們內心的小女孩，堅強中不失可愛一面。除了外觀，Olivia亦一如Butterfly Twists鞋履的特性，附有極柔軟的記憶海綿，就像香港的女士們一樣內外兼備。
      </p>

      <p>
        Olivia 以簡單清新的外觀，同時以實力打動一眾 OL們的芳心，就像香港的女士們一樣美貌與智慧並重，即使不懂撒嬌亦自有懂欣賞之人。
      </p>

      <div class="ui stackable four column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/2/1.jpg">
            </div>
            <div class="content">
              <a class="header">Olivia – Coral</a>
            </div>
            <div class="extra content">
              售價420港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/2/6.jpg">
            </div>
            <div class="content">
              <a class="header">Olivia – Watercolour mint</a>
            </div>
            <div class="extra content">
              售價420港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/2/5.jpg">
            </div>
            <div class="content">
              <a class="header">Olivia – Cream Black</a>
            </div>
            <div class="extra content">
              售價420港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/2/3.jpg">
            </div>
            <div class="content">
              <a class="header">Olivia – Black</a>
            </div>
            <div class="extra content">
              售價420港幣
            </div>
          </div>
        </div>

      </div>

    </div>

    <div slot="sc">
      <img src="/static/images/news/butterfly_twists/2/7.jpg" class="ui centered large bordered image">

      <br>

      <p>
        英国品牌Butterfly Twists自创立而来，以舒适、时尚的鞋履夺取一众女士们的芳心。 Butterfly Twists一众鞋履当中，方便携带及可折叠的鞋款更大受 OL们欢迎，适合女士们于不同场合迅即改变造型，面对生活上不同的挑战，切合一众现代女性。
      </p>

      <p>
        Butterfly Twists 可折叠的鞋履当中，以鞋款Olivia 最为受欢迎，Olivia 共有四种颜色，每一款都由两种颜色配衬而成，分别是珊瑚衬鸽子灰、乳白衬粉蓝、乳白衬黑及由两种不同深度的黑色衬搭。 Olivia 以不同颜色的配衬，增加鞋履的可观度，加能使鞋履更看抢眼，而几款不同颜色的配衬适合不同类形的女士。此外，Olivia 于鞋头上加添了一个小蝴蝶，尤如女士们内心的小女孩，坚强中不失可爱一面。除了外观，Olivia亦一如Butterfly Twists鞋履的特性，附有极柔软的记忆海绵，就像香港的女士们一样内外兼备。
      </p>

      <p>
        Olivia 以简单清新的外观，同时以实力打动一众 OL们的芳心，就像香港的女士们一样美貌与智慧并重，即使不懂撒娇亦自有懂欣赏之人。
      </p>

      <div class="ui stackable four column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/butterfly_twists/2/1.jpg">
            </div>

            <div class="content">

              <a class="header">Olivia – Coral</a>
            </div>

            <div class="extra content">
              售价420港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/butterfly_twists/2/6.jpg">
            </div>

            <div class="content">

              <a class="header">Olivia – Watercolour mint</a>
            </div>

            <div class="extra content">
              售价420港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/butterfly_twists/2/5.jpg">
            </div>

            <div class="content">

              <a class="header">Olivia – Cream Black</a>
            </div>

            <div class="extra content">
              售价420港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/butterfly_twists/2/3.jpg">
            </div>

            <div class="content">

              <a class="header">Olivia – Black</a>
            </div>

            <div class="extra content">
              售价420港币
            </div>
          </div>
        </div>

      </div>

    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'OL必備 Butterfly Twists經典鞋款 Olivia',
        tc: 'OL必備 Butterfly Twists經典鞋款 Olivia',
        sc: 'OL必备 Butterfly Twists经典鞋款 Olivia'
      }
    }
  }
}
</script>

<style scoped>

</style>
