<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/butterfly_twists/3/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        現代女性生活急速忙碌，經常要同時間處理不同時務，更不時要出席各種場合，而且需穿上高跟鞋以示尊重，有見及此Butterfly Twists在成立之時，便以可摺疊的芭蕾舞鞋作賣點，讓女士們帶上一對方便換的鞋履，輕鬆面對不同活動！
      </p>

      <p>
        Butterfly Twists於夏天特別推出全新鞋款Mya，Mya來自Butterfly Twists經典On-the-go系列，以可摺疊為鞋履的特色，方便女士們攜帶，隨時更換穿著的高跟鞋，讓雙腿得到休息亦能不失時尚氣息。再且Mya 共有兩種顏色，分別是極受女士們喜愛的裸色和穩重的黑色，鞋身則隱約地襯上蛇紋，增加時尚的感覺。另外，Butterfly Twists 今次更增添新元素，於鞋履上添上絲帶橫誇鞋履，更有芭蕾舞鞋的優雅感，吻合現在的潮流動向之餘，亦能使鞋履增加可觀度，而且穿上後更能使腳掌有顯瘦的效果，讓女士們看上去更為纖幼。
      </p>

      <p>
        Butterfly Twists 創立而來，以實用及美觀奪取女士們的歡心，新推出的Mya 亦不例外，務求時尚實用兼備，讓女士們出外有更好的選擇！
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/3/2.jpg">
            </div>
            <div class="content">
              <a class="header">Mya – Nude snake</a>
            </div>
            <div class="extra content">
              售價 400 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/3/3.jpg">
            </div>
            <div class="content">
              <a class="header">Mya – Black snake</a>
            </div>
            <div class="extra content">
              售價 400 港幣
            </div>
          </div>
        </div>
      </div>

    </div>

    <div slot="sc">
      <img src="/static/images/news/butterfly_twists/3/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        现代女性生活急速忙碌，经常要同时间处理不同时务，更不时要出席各种场合，而且需穿上高跟鞋以示尊重，有见及此Butterfly Twists在成立之时，便以可折叠的芭蕾舞鞋作卖点，让女士们带上一对方便换的鞋履，轻松面对不同活动！
      </p>


      <p>
        Butterfly Twists于夏天特别推出全新鞋款Mya，Mya来自Butterfly Twists经典On-the-go系列，以可折叠为鞋履的特色，方便女士们携带，随时更换穿着的高跟鞋，让双腿得到休息亦能不失时尚气息。再且Mya 共有两种颜色，分别是极受女士们喜爱的裸色和稳重的黑色，鞋身则隐约地衬上蛇纹，增加时尚的感觉。另外，Butterfly Twists 今次更增添新元素，于鞋履上添上丝带横夸鞋履，更有芭蕾舞鞋的优雅感，吻合现在的潮流动向之余，亦能使鞋履增加可观度，而且穿上后更能使脚掌有显瘦的效果，让女士们看上去更为纤幼。
      </p>


      <p>
        Butterfly Twists 创立而来，以实用及美观夺取女士们的欢心，新推出的Mya 亦不例外，务求时尚实用兼备，让女士们出外有更好的选择！
      </p>


      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/butterfly_twists/3/2.jpg">
            </div>

            <div class="content">

              <a class="header">Mya – Nude snake</a>
              </div>

            <div class="extra content">
              售价 400 港币
            </div>
            </div>
          </div>


        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/butterfly_twists/3/3.jpg">
            </div>

            <div class="content">

              <a class="header">Mya – Black snake</a>
              </div>

            <div class="extra content">
              售价 400 港币
            </div>
            </div>
          </div>
        </div>

      </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Butterfly Twists 經典系列Mya 時尚芭蕾舞鞋',
        tc: 'Butterfly Twists 經典系列Mya 時尚芭蕾舞鞋',
        sc: 'Butterfly Twists 经典系列Mya 时尚芭蕾舞鞋'
      }
    }
  }
}
</script>

<style scoped>

</style>
