<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/butterfly_twists/4/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        在香港，無論是學生或是工作的女性們，生活都非常忙碌，每天都需要完成形形式式的任務及面對不同的挑戰。在這忙碌的生活中，女士們總會找到屬於自己的時間，放鬆自己，可能是和三五知己聊天，亦可能是和一班好友在周末舉行party，實行 work-life balance。
      </p>

      <p>
        眾所周知，女士們愛鞋的心絕非等閒，與好友們見面，又或是去派對又怎能少了一對吸引大家眼球的鞋履？而且，很多時候女士們均會在聚會中穿上高跟鞋，但過後總會使一雙腳疲累不已。故此，Butterfly Twists 特意為女士們設計了一款在聚會時讓大家熱烈談論的鞋履Ashley。Ashley 共有兩款顏色，分別是銀灰色及神秘黑。此外，在鞋頭的位置上襯上了閃閃發光的碎石，看上去異常搶眼。同時，鞋履選用緞面的質料，彰顯當中矜貴的感覺。而且，Butterfly Twists 的鞋履一向著重內在，當中的舒適度無容置疑。以後，出席聚會或是去party 不用再只穿高跟鞋，穿一對美豔又舒服的Butterfly Twists 平對鞋履亦能使你全場觸目。
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/4/2.jpg">
            </div>
            <div class="content">
              <a class="header">Ashley – Silver</a>
            </div>
            <div class="extra content">
              售價 400 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/4/3.jpg">
            </div>
            <div class="content">
              <a class="header">Ashley – Black</a>
            </div>
            <div class="extra content">
              售價 400 港幣
            </div>
          </div>
        </div>
      </div>

    </div>

    <div slot="sc">
      <img src="/static/images/news/butterfly_twists/4/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        在香港，无论是学生或是工作的女性们，生活都非常忙碌，每天都需要完成形形式式的任务及面对不同的挑战。在这忙碌的生活中，女士们总会找到属于自己的时间，放松自己，可能是和三五知己聊天，亦可能是和一班好友在周末举行party，实行 work-life balance。
      </p>

      <p>
        众所周知，女士们爱鞋的心绝非等闲，与好友们见面，又或是去派对又怎能少了一对吸引大家眼球的鞋履？而且，很多时候女士们均会在聚会中穿上高跟鞋，但过后总会使一双脚疲累不已。故此，Butterfly Twists 特意为女士们设计了一款在聚会时让大家热烈谈论的鞋履Ashley。 Ashley 共有两款颜色，分别是银灰色及神秘黑。此外，在鞋头的位置上衬上了闪闪发光的碎石，看上去异常抢眼。同时，鞋履选用缎面的质料，彰显当中矜贵的感觉。而且，Butterfly Twists 的鞋履一向着重内在，当中的舒适度无容置疑。以后，出席聚会或是去party 不用再只穿高跟鞋，穿一对美艳又舒服的Butterfly Twists 平对鞋履亦能使你全场触目。
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/4/2.jpg">
            </div>
            <div class="content">
              <a class="header">Ashley – Silver</a>
            </div>
            <div class="extra content">
              售价 400 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/4/3.jpg">
            </div>
            <div class="content">
              <a class="header">Ashley – Black</a>
            </div>
            <div class="extra content">
              售价 400 港币
            </div>
          </div>
        </div>
      </div>

    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Butterfly Twists 讓你閃耀全場',
        tc: 'Butterfly Twists 讓你閃耀全場',
        sc: 'Butterfly Twists 让你闪耀全场'
      }
    }
  }
}
</script>

<style scoped>

</style>
