<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/butterfly_twists/5/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        來自英國的Butterfly Twists，創立短短數年，以簡單舒服及方便攜帶聞名，更已獲得不少國際獎項，成為不少女士們的心頭好。Butterfly Twists 亦不滿足於此，積極推出各種的新鞋款，讓女士們能有更多不同的選擇，方便於各種活動或場合穿上，同時亦不失時尚。
      </p>

      <p>
        來到十月，Butterfly Twists 深明秋天已經靜悄悄來臨，是時候參與各種戶外活動，例如與三五知己一同野餐，呼吸新鮮空氣。但，假若野餐的時候不想穿運動鞋如此沉悶，又可以穿一對怎樣的鞋履而不失時尚？Butterfly Twists全新推出的鞋款Robyn 便是一個輕便戶外活動的好選擇。Robyn 是Butterfly Twists 的最新鞋款，有別與過往的OL平底鞋款，Robyn 更切合為平日活動穿上的休閒鞋，共有兩種顏色，分別是銀灰及裸色系。鞋頭以一個小蝴蝶襯上流蘇，同時鞋頭亦襯上了與鞋身同色系的反光閃耀腳趾帽，甜美之餘亦時尚感十足，配合Butterfly Twists 一貫的記憶海綿更是舒適方便。穿上Robyn 和好友來個戶外聚會，最適合不過！
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/5/2.jpg">
            </div>
            <div class="content">
              <a class="header">Robyn – Slate</a>
            </div>
            <div class="extra content">
              售價 600 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/5/3.jpg">
            </div>
            <div class="content">
              <a class="header">Robyn – Rose Gold</a>
            </div>
            <div class="extra content">
              售價 600 港幣
            </div>
          </div>
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/butterfly_twists/5/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        来自英国的Butterfly Twists，创立短短数年，以简单舒服及方便携带闻名，更已获得不少国际奖项，成为不少女士们的心头好。 Butterfly Twists 亦不满足于此，积极推出各种的新鞋款，让女士们能有更多不同的选择，方便于各种活动或场合穿上，同时亦不失时尚。
      </p>

      <p>
        来到十月，Butterfly Twists 深明秋天已经静悄悄来临，是时候参与各种户外活动，例如与三五知己一同野餐，呼吸新鲜空气。但，假若野餐的时候不想穿运动鞋如此沉闷，又可以穿一对怎样的鞋履而不失时尚？ Butterfly Twists全新推出的鞋款Robyn 便是一个轻便户外活动的好选择。 Robyn 是Butterfly Twists 的最新鞋款，有别与过往的OL平底鞋款，Robyn 更切合为平日活动穿上的休闲鞋，共有两种颜色，分别是银灰及裸色系。鞋头以一个小蝴蝶衬上流苏，同时鞋头亦衬上了与鞋身同色系的反光闪耀脚趾帽，甜美之余亦时尚感十足，配合Butterfly Twists 一贯的记忆海绵更是舒适方便。穿上Robyn 和好友来个户外聚会，最适合不过！
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/5/2.jpg">
            </div>
            <div class="content">
              <a class="header">Robyn – Slate</a>
            </div>
            <div class="extra content">
              售价 600 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/5/3.jpg">
            </div>
            <div class="content">
              <a class="header">Robyn – Rose Gold</a>
            </div>
            <div class="extra content">
              售价 600 港币
            </div>
          </div>
        </div>
      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '戶外活動好伴侶 Robyn',
        tc: '戶外活動好伴侶 Robyn',
        sc: '户外活动好伴侣 Robyn'
      }
    }
  }
}
</script>

<style scoped>

</style>
