<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/butterfly_twists/6/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        農曆新年將至，街上各式各樣的新年裝飾已傾巢而出，新年的氣氛亦越見濃烈。各個地方大小的商場亦滲透著強烈的購物慾，大家都忙著為新一年添置新裝。故此，Butterfly Twists同樣為大家準備了最適合農曆新年穿上的鞋履，讓大家於新一年開始即搶盡眼球。
      </p>

      <p>
        Butterfly Twists深明中國傳統對紅色的喜愛，因比設計鞋款Harper的時候，鞋履其中一種顏色為紅色，以配合農曆新年的來到。鞋履上使用了兩種紅色，鞋身使用的為深紅色，鞋頭位置則使用了有反射作用的物料配合鮮紅色，使鞋履更為搶眼。另外，鞋履Harper於鞋頭上襯了小蝴蝶，增添可愛度，亦使鞋履更為特出。除了紅色外，Harper亦同樣備有實用的黑色，方便大家配襯不同造型，同時能穿上它出席各種場合。
      </p>

      <p>
        在今個新年，不妨穿上既有新年氣氛又具特色和舒服的Butterfly Twists Harper到各處拜年！
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/6/2.jpg">
            </div>
            <div class="content">
              <a class="header">Harper – Ruby Red</a>
            </div>
            <div class="extra content">
              售價 $500 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/6/3.jpg">
            </div>
            <div class="content">
              <a class="header">Harper – Black</a>
            </div>
            <div class="extra content">
              售價 $500 港幣
            </div>
          </div>
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/butterfly_twists/6/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        农历新年将至，街上各式各样的新年装饰已倾巢而出，新年的气氛亦越见浓烈。各个地方大小的商场亦渗透着强烈的购物欲，大家都忙着为新一年添置新装。故此，Butterfly Twists同样为大家准备了最适合农历新年穿上的鞋履，让大家于新一年开始即抢尽眼球。
      </p>

      <p>
        Butterfly Twists深明中国传统对红色的喜爱，因比设计鞋款Harper的时候，鞋履其中一种颜色为红色，以配合农历新年的来到。鞋履上使用了两种红色，鞋身使用的为深红色，鞋头位置则使用了有反射作用的物料配合鲜红色，使鞋履更为抢眼。另外，鞋履Harper于鞋头上衬了小蝴蝶，增添可爱度，亦使鞋履更为特出。除了红色外，Harper亦同样备有实用的黑色，方便大家配衬不同造型，同时能穿上它出席各种场合。
      </p>

      <p>
        在今个新年，不妨穿上既有新年气氛又具特色和舒服的Butterfly Twists Harper到各处拜年！
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/6/2.jpg">
            </div>
            <div class="content">
              <a class="header">Harper – Ruby Red</a>
            </div>
            <div class="extra content">
              售价 $500 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/6/3.jpg">
            </div>
            <div class="content">
              <a class="header">Harper – Black</a>
            </div>
            <div class="extra content">
              售价 $500 港币
            </div>
          </div>
        </div>
      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '農曆新年之選  紅鞋子Harper',
        tc: '農曆新年之選  紅鞋子Harper',
        sc: '农历新年之选 红鞋子Harper'
      }
    }
  }
}
</script>

<style scoped>

</style>
