<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/butterfly_twists/7/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        英國品牌Butterfly Twists愈來愈受女士歡迎，不論上班一族還是輕便逛街的年輕人都不約而同地走進Butterfly Twists的世界。愛美是女孩子的天性，開心買鞋，唔開心買鞋，正好表達了一切。
      </p>

      <p>
        夏天將至，又係短裙熱褲的時候，簡單的衣著配上一對富有特色的鞋，往往可以將整個造型提升氣質。英國品牌又怎會令人失望呢？當中Chole款式是大熱之選，今年春夏新季除了推出一向穩陣既全黑色和深藍色外，更推出全新的可愛的蕃茄紅和近年大家也喜歡的湖水綠色。顏色不但鮮艷奪目，鞋頭更加上蝴蝶扣，為簡單的款式注入特色。
      </p>

      <p>
        Chloe亦一如Butterfly Twists鞋履的特性，附有極柔軟的記憶海綿，就像香港的女士們一樣內外兼備。既美麗且穿著舒適是品牌一向追求的目標！
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/2.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe – Coral Cracked</a>
            </div>
            <div class="extra content">
              售價 $550 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/3.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe – Aqua Cracked</a>
            </div>
            <div class="extra content">
              售價 $550 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/4.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe - Tomato</a>
            </div>
            <div class="extra content">
              售價 $550 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/5.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe - Aqua</a>
            </div>
            <div class="extra content">
              售價 $550 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/6.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe - Black</a>
            </div>
            <div class="extra content">
              售價 $550 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/7.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe - Navy</a>
            </div>
            <div class="extra content">
              售價 $550 港幣
            </div>
          </div>
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/butterfly_twists/7/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        英国品牌Butterfly Twists愈来愈受女士欢迎，不论上班一族还是轻便逛街的年轻人都不约而同地走进Butterfly Twists的世界。爱美是女孩子的天性，开心买鞋，唔开心买鞋，正好表达了一切。
      </p>

      <p>
        夏天将至，又系短裙热裤的时候，简单的衣着配上一对富有特色的鞋，往往可以将整个造型提升气质。英国品牌又怎会令人失望呢？当中Chole款式是大热之选，今年春夏新季除了推出一向稳阵既全黑色和深蓝色外，更推出全新的可爱的蕃茄红和近年大家也喜欢的湖水绿色。颜色不但鲜艳夺目，鞋头更加上蝴蝶扣，为简单的款式注入特色。
      </p>

      <p>
        Chloe亦一如Butterfly Twists鞋履的特性，附有极柔软的记忆海绵，就像香港的女士们一样内外兼备。既美丽且穿着舒适是品牌一向追求的目标！
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/2.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe – Coral Cracked</a>
            </div>
            <div class="extra content">
              售价 $550 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/3.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe – Aqua Cracked</a>
            </div>
            <div class="extra content">
              售价 $550 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/4.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe - Tomato</a>
            </div>
            <div class="extra content">
              售价 $550 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/5.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe - Aqua</a>
            </div>
            <div class="extra content">
              售价 $550 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/6.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe - Black</a>
            </div>
            <div class="extra content">
              售价 $550 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/7/7.jpg">
            </div>
            <div class="content">
              <a class="header">Chloe - Navy</a>
            </div>
            <div class="extra content">
              售价 $550 港币
            </div>
          </div>
        </div>
      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Butterfly Twists春夏新推',
        tc: 'Butterfly Twists春夏新推',
        sc: 'Butterfly Twists春夏新推'
      }
    }
  }
}
</script>

<style scoped>

</style>
