<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/butterfly_twists/8/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        英國品牌Butterfly Twists近期跟fashion icon Harley V Newton (HVN) 推出聯乘系列，以心心圖案為主打，更配上粉色系迎接夏日的來臨。
      </p>

      <p>
        Harley V Newton集模特兒、DJ、時尚達人、設計師於一身，她更是著名hip hop歌手Jay-Z旗下藝人。人氣歌手Katy Perry曾穿上她設計的時裝拍攝廣告，是一眾設計師夢寐以求的成就。
      </p>

      <p>
        今季HVN為Butterfly Twists設計了一系列限量鞋款，為繁忙的女性提供既舒適又時尚的鞋子。其中一款Charlotte以女生最愛的粉色系帶出女性可愛的一面，有淺粉紅色和baby blue兩種顏色。鞋內更以心心圖案作為配襯，自己能感受設計者的細膩但絕不誇張。喜歡獨特造型的有平底鞋中極少見的透視款Olivia，同樣以心心作為圖案，大玩性感透視鞋身，隱約地露出腳部位置，為沈悶的平底鞋增添了不少色彩。
      </p>

      <p>
        此系列亦一如Butterfly Twists鞋履的特性，附有極柔軟的記憶海綿，不論任何場合提供最舒適的體驗一直是品牌追求的目標。
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/8/2.jpg">
            </div>
            <div class="content">
              <a class="header">Charlotte – Pale pink</a>
            </div>
            <div class="extra content">
              售價 $750 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/8/3.jpg">
            </div>
            <div class="content">
              <a class="header">Charlotte – Baby blue</a>
            </div>
            <div class="extra content">
              售價 $750 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/8/4.jpg">
            </div>
            <div class="content">
              <a class="header">Olivia – Red flocked hearts</a>
            </div>
            <div class="extra content">
              售價 $500 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/8/5.jpg">
            </div>
            <div class="content">
              <a class="header">Olivia – Black flocked hearts</a>
            </div>
            <div class="extra content">
              售價 $500 港幣
            </div>
          </div>
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/butterfly_twists/8/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        英国品牌Butterfly Twists近期跟fashion icon Harley V Newton (HVN) 推出联乘系列，以心心图案为主打，更配上粉色系迎接夏日的来临。
      </p>

      <p>
        Harley V Newton集模特儿、DJ、时尚达人、设计师于一身，她更是著名hip hop歌手Jay-Z旗下艺人。人气歌手Katy Perry曾穿上她设计的时装拍摄广告，是一众设计师梦寐以求的成就。
      </p>

      <p>
        今季HVN为Butterfly Twists设计了一系列限量鞋款，为繁忙的女性提供既舒适又时尚的鞋子。其中一款Charlotte以女生最爱的粉色系带出女性可爱的一面，有浅粉红色和baby blue两种颜色。鞋内更以心心图案作为配衬，自己能感受设计者的细腻但绝不夸张。喜欢独特造型的有平底鞋中极少见的透视款Olivia，同样以心心作为图案，大玩性感透视鞋身，隐约地露出脚部位置，为沈闷的平底鞋增添了不少色彩。
      </p>

      <p>
        此系列亦一如Butterfly Twists鞋履的特性，附有极柔软的记忆海绵，不论任何场合提供最舒适的体验一直是品牌追求的目标。
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/8/2.jpg">
            </div>
            <div class="content">
              <a class="header">Charlotte – Pale pink</a>
            </div>
            <div class="extra content">
              售价 $750 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/8/3.jpg">
            </div>
            <div class="content">
              <a class="header">Charlotte – Baby blue</a>
            </div>
            <div class="extra content">
              售价 $750 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/8/4.jpg">
            </div>
            <div class="content">
              <a class="header">Olivia – Red flocked hearts</a>
            </div>
            <div class="extra content">
              售价 $500 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/butterfly_twists/8/5.jpg">
            </div>
            <div class="content">
              <a class="header">Olivia – Black flocked hearts</a>
            </div>
            <div class="extra content">
              售价 $500 港币
            </div>
          </div>
        </div>
      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Butterfly Twists春夏新推',
        tc: 'Butterfly Twists春夏新推',
        sc: 'Butterfly Twists春夏新推'
      }
    }
  }
}
</script>

<style scoped>

</style>
