<template>
  <div class="ui breadcrumb">
    <a href="/" class="section">{{ $t('home') }}</a>
    <div class="divider"> / </div>
    <span class="section">{{ $t('our_brands') }}</span>
    <div class="divider"> / </div>
    <div class="active section">{{ brandName }}</div>
  </div>
</template>

<script>
export default {
  name: 'breadcrumb',

  props: [
    'brandName'
  ]
}
</script>

<style>

</style>
