<template>
  <swiper :options="swiperOption">
    <swiper-slide v-for="(image, index) in images" :key="index">
      <img :src="getImage(image.path)" class="ui image">
    </swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'slideshow',

  components: {
    swiper,
    swiperSlide
  },

  props: [
    'images'
  ],

  methods: {
    getImage(name) {
      return '/static/images/slideshow/' + name
    }
  },

  data() {
    return {
      swiperOption: {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 3000,
        autoplayDisableOnInteraction: false,
        hashnav: true,
        loop: true
      }
    }
  }
}
</script>

<style scoped>

</style>
