<template>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <div class="ui breadcrumb">
          <a href="/" class="section">{{ $t('home') }}</a>
          <div class="divider"> / </div>
          <div class="active section">{{ $t('about_us') }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3 class="ui header">{{ $t('about_yunsan.title') }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <justified-content>
          {{ $t('about_yunsan.description') }}
        </justified-content>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3 class="ui header">{{ $t('about_3nity.title') }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <justified-content>
          {{ $t('about_3nity.description') }}
        </justified-content>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <justified-content>
          <h3 class="ui header">{{ $t('our_brands') }}</h3>
        </justified-content>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui grid">
          <div class="doubling five column row">
            <div class="column">
              <a href="/brands/butterfly-twists">
                <img class="ui image" src="/static/images/logo/butterfly_twists.jpg">
              </a>
            </div>

            <div class="column">
              <a href="/brands/creative-recreation">
                <img class="ui image" src="/static/images/logo/creative_recreation.jpg">
              </a>
            </div>

            <div class="column">
              <a href="/brands/lacoste">
                <img class="ui image" src="/static/images/logo/lacoste.jpg">
              </a>
            </div>

            <div class="column">
              <a href="/brands/sprayground">
                <img class="ui image" src="/static/images/logo/sprayground.jpg">
              </a>
            </div>

            <div class="column">
              <a href="/brands/wesc">
                <img class="ui image" src="/static/images/logo/wesc.jpg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JustifiedContent from '@/components/common/JustifiedContent'

export default {
  name: 'about-us',

  components: {
    JustifiedContent
  }
}
</script>

<style>

</style>
