<template>
  <div>
    <div class="ui breadcrumb">
      <a href="/" class="section">{{ $t('home') }}</a>
      <div class="divider"> / </div>
      <div class="active section">{{ $t('contact_us') }}</div>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui message success hidden">
      <div v-html="$t('enquiry_form.success_message')"></div>
    </div>

    <div class="ui message error hidden">
      <div v-html="$t('enquiry_form.error_message')"></div>
    </div>

    <div id="enquiry_form" class="ui equal width form">
      <div class="fields">
        <div class="field">
          <label>{{ $t('enquiry_form.name') }}</label>
          <input type="text" name="name">
        </div>
        <div class="field">
          <label>{{ $t('enquiry_form.email') }}</label>
          <input type="email" name="email">
        </div>
      </div>

      <div class="fields">
        <div class="field">
          <label>{{ $t('enquiry_form.phone') }}</label>
          <input type="text" name="phone">
        </div>
        <div class="field">
          <label>{{ $t('enquiry_form.company') }}</label>
          <input type="text" name="company">
        </div>
      </div>

      <div class="fields">
        <div class="field">
          <label>{{ $t('enquiry_form.subject') }}</label>
          <input type="text" name="subject">
        </div>
      </div>

      <div class="fields">
        <div class="field">
          <label>{{ $t('enquiry_form.content') }}</label>
          <textarea name="content" id="content" cols="30" rows="10">
          </textarea>
        </div>
      </div>

      <button class="ui submit green button right floated" @click="onSubmit()">{{ $t('button.submit') }}</button>
    </div>

  </div>
</template>

<script>
import $ from 'jquery'
import moment from 'moment'

import { HTTP } from '@/api/http'
require('promise.prototype.finally').shim()

export default {
  name: 'contact-us',

  data() {
    return {
      form: '#enquiry_form'
    }
  },

  mounted() {
    // Form validation
    $(this.form).form({
      inline: true,
      fields: {
        name: {
          identifier: 'name',
          rules: [
            {
              type: 'empty',
              prompt: this.$i18n.t('enquiry_form.errors.name.required')
            }
          ]
        },
        email: {
          identifier: 'email',
          rules: [
            {
              type: 'empty',
              prompt: this.$i18n.t('enquiry_form.errors.email.required')
            },
            {
              type: 'email',
              prompt: this.$i18n.t('enquiry_form.errors.email.invalid')
            }
          ]
        },
        phone: {
          identifier: 'phone',
          optional: true,
          rules: [
            {
              type: 'regExp',
              value: /(\+)?(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$/,
              prompt: this.$i18n.t('enquiry_form.errors.phone.invalid')
            }
          ]
        },
        company: {
          identifier: 'company',
          optional: true,
          rules: [
            {
              type: 'regExp',
              value: /^[\u4e00-\u9fa5\sa-zA-Z0-9]+$/,
              prompt: this.$i18n.t('enquiry_form.errors.company.invalid')
            }
          ]
        },
        subject: {
          identifier: 'subject',
          rules: [
            {
              type: 'empty',
              prompt: this.$i18n.t('enquiry_form.errors.subject.required')
            }
          ]
        },
        content: {
          identifier: 'content',
          rules: [
            {
              type: 'empty',
              prompt: this.$i18n.t('enquiry_form.errors.content.required')
            }
          ]
        }
      }
    })
  },

  methods: {
    onSubmit() {
      // All data valid
      if ($(this.form).form('is valid')) {
        // Get form values
        let data = $(this.form).form('get values')

        // Additional values
        data.date = moment().format('YYYY-MM-DD')

        // Make button loading
        $('button.submit').addClass('loading disabled')

        this.submit(data)
      }
    },

    // Post data to backend
    submit(data) {
      HTTP.post('/enquiry', data)
        .then((response) => {
          if (response.data.status === 'success') {
            this.resetForm()
            this.toggleErrorMessage(false)
            this.toggleSuccessMessage(true)
          }
        })
        .catch(() => {
          this.toggleSuccessMessage(false)
          this.toggleErrorMessage(true)
        })
        .finally(() => {
          $('button.submit').removeClass('loading disabled')
        })
    },

    resetForm() {
      $(this.form).form('reset')
    },

    toggleSuccessMessage(status) {
      $('.ui.message.success').toggle(status)
    },

    toggleErrorMessage(status) {
      $('.ui.message.error').toggle(status)
    },

    addPrompts(field, message) {
      $(this.form).form('add prompt', field, message)
    }
  }
}
</script>

<style scoped>

</style>
