<template>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <slideshow></slideshow>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h4 class="ui horizontal divider header">
          <i class="newspaper icon"></i>
          {{ $t('news') }}
        </h4>

      </div>
    </div>

    <div class="row">
      <div class="column">
        <news></news>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui center aligned grid">
          <div class="computer tablet only row">
            <div class="column">
              <div class="column">
                <a href="/news" class="ui blue large button">{{ $t('more_news') }}</a>
              </div>
            </div>
          </div>

          <div class="mobile only row">
            <div class="column">
              <a href="/news" class="ui blue fluid large right floated button">{{ $t('more_news') }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Slideshow from '@/components/home/Slideshow'
import News from '@/components/home/News'

export default {
  name: 'home',
  components: {
    Slideshow,
    News
  }
  // },

  // computed: {
  //   news() {
  //     console.log(this.$i18n.messages)
  //   }
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
