<template>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <div class="ui breadcrumb">
          <a href="/" class="section">{{ $t('home') }}</a>
          <div class="divider"> / </div>
          <div class="active section">{{ $t('news') }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui relaxed divided items" v-if="language !=='sc'">
          <list-item v-for="(item, key) in newsList.tc" :key="key" :item="item"></list-item>
        </div>

        <div class="ui relaxed divided items" v-if="language ==='sc'">
          <list-item v-for="(item, key) in newsList.sc" :key="key" :item="item"></list-item>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ListItem from '@/components/news/ListItem'

export default {
  name: 'news',

  computed: mapGetters({
    newsList: 'getNewsList'
  }),

  components: {
    ListItem
  },

  data() {
    return {
      language: localStorage.getItem('lang') ? localStorage.getItem('lang') : 'tc'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
