<template>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <div class="ui breadcrumb">
          <a href="/" class="section">Home</a>
          <div class="divider"> / </div>
          <div class="active section">Privacy Policy</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3 class="ui header">
          PRIVACY POLICY
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <justified-content>
          <p>
            The Companies in the 3NITY Group (together "3NITY", "we" and "us") respect the privacy of the visitors to the 3nitystore.com website and the local websites connected with it, and take great care to protect your information. This privacy policy tells you what information we collect from you, how we may use it and the steps we take to ensure that it is protected.
          </p>

          <h3 class="ui header">GENERAL</h3>

          <p>
            In order to safeguard information passed to us, we will and procure our staff to abide strictly by the rules and requirements set out in the Personal Data (Privacy) Ordinance Chapter 486 of the Laws of Hong Kong Special Administrative Region of the People's Republic of China (hereafter called as “HKSAR”) in order to follow the recognizable standards of personal data protection as much as possible.
          </p>

          <h3 class="ui header">YOUR PERSONAL DATA AND HOW WE USE IT</h3>

          <p>
            We collect, use and store your personal data to ensure we can provide various services to you and offer you a personal experience online and in our stores. This may occur on our Site or via other means. We will keep your personal data confidential at all times and only collect, use, store and disclose it in accordance with this Privacy Policy.
          </p>

          <h4 class="ui header">Collection of your personal data</h4>

          <p>
            Different levels of your personal data may be collected by us, both on our Site and at our physical stores, boutiques and counter spaces.
          </p>

          <div class="ui bulleted list">
            <div class="item">
              If you have not registered for our online newsletter, you will be browsing our Site as a guest. We will not collect or use any personal data from you.
            </div>
            <div class="item">
              You will need to input certain of your personal data when registering for our online newsletter on our Site (such as your name and contact details), in order to receive various features and services that we offer to our subscribers, such as email updates, responses to your queries and invitations to participate in our private sales.
            </div>
            <div class="item">
              You may from time to time provide us with your personal data at our physical stores, via your applications for or use of various services that we provide.
            </div>
          </div>

          <h4 class="ui header">Use of your personal data</h4>

          <p>
            We use the personal data you provide to us for the following purposes (and any purposes directly related to these purposes) (collectively, the "Purposes"):
          </p>

          <div class="ui bulleted list">
            <div class="item">
              To provide our services to you (including assessing any application for and administration of such services). This includes responding to any questions you may have, providing you with recommendations on products in our stores, your applications with us for any of our services, allowing you to participate in our events and promotions when you so wish, and fulfilling any orders you may make with us (including verification and security checks of your details, and processing of your payments).
            </div>
            <div class="item">
              To provide you with direct marketing communications, in accordance with the "Marketing Communications" section below.
            </div>
            <div class="item">
              Matching your personal data with information you provided to us via other means.
            </div>

            <div class="item">
              To analyse trends, usage and shopping behaviour with us (whether on an individualized or aggregated basis), which helps us better understand how you and our collective customer base access and use our Site and services, for the purposes of improving our services and to respond to customer desires and preferences.
            </div>
          </div>

          <h4 class="ui header">Other points of note regarding your personal data</h4>

          <p>Please also note that:</p>

          <div class="ui bulleted list">
            <div class="item">
              We may transfer, use and store your personal data outside of your country of residence, for the Purposes and in accordance with this Privacy Policy.
            </div>
            <div class="item">
              Providing your personal data is optional. If you do not provide your personal data to us, we may not be able to provide some of our services and features to you.
            </div>
            <div class="item">
              Subject to where otherwise required by law or permitted by law to protect our interests, we will (a) only retain your personal data for as long as it is necessary to fulfill the Purposes, and (b) erase any of your personal data that we have stored as soon as reasonably practicable, if you choose to delete your account with us.
            </div>
            <div class="item">
              You may from time to time provide us with various third parties' personal data (for instance, in relation to your receipt of benefits from us). You agree that you have obtained the relevant third party's consent to provide us with their personal data (to be collected, used, stored and disclosed in accordance with this Privacy Policy) prior to such provision by you.
            </div>
          </div>

          <h4 class="ui header">Collection of anonymous data from you</h4>

          <p>
            Separately, we may collect certain anonymous data from you on our Site:
          </p>

          <div class="ui bulleted list">
            <div class="item">
              We collect anonymous data relating to your online session to provide our services to you, to gather statistical information on our server's usage and to help us better meet your demands and expectations. This may include but is not limited to your browser type and version, your operating system and your IP address and/or domain name. We may use analytics cookies for this purpose. You may opt-out of the collection of such data at any time.
            </div>
            <div class="item">
              If you are browsing our Site (whether as a guest or as a subscriber to our newsletter) it may place a cookie on your computer or mobile device that identifies your device to us and allows us to personalize your shopping experience and provide you with various services. Cookies are small information files stored on your hard drive or device and are automatically accepted by most browsers. It does not allow us to access the rest of device or your personal data. We use cookies to perform certain functions. These may include: performance cookies, to analyze how visitors use our Site and monitor our Site's performance. These allows us to provide a high quality experience by customizing our offering, as well as quickly identifying and resolving any issues or errors that arise on the Site. By agreeing to this Privacy Policy, you are consenting to us placing such cookies on your device as part of your use of the Site. Please change your browser's settings if you do not wish to accept cookies. Please note that you may not be able to use all features and services offered on our Site if your browser does not accept cookies. All information relating to you that is collected by our cookies will be stored on our servers in Hong Kong and all uses of this information will be in accordance with the terms of this Privacy Policy.
            </div>
          </div>

          <h3 class="ui header">MARKETING COMMUNICATIONS</h3>

          <p>
            You agree that we may use the personal data you provide to us to offer direct marketing communications to you from time to time, in accordance with the below provisions and the remainder of this Privacy Policy:
          </p>

          <ol class="ui list">
            <li value="-">
              We may market to you our goods and services, and the goods and services of: (a) our related companies (including our affiliate and subsidiary companies), (b) joint venture partners, and (c) other third party providers. Such marketing communications may be in various forms, including advertisements, special events notifications or newsletters, and delivered via various methods in accordance with the personal data that you provide to us, such as by email, SMS, smartphone app push notifications, notifications on your social media pages, in –app messaging or postal mail.
            </li>

            <li value="-">
              Such marketing communications may market or offer products or services (including special events and promotions) in the following categories: Dining, food and beverages, sports, music, film, television and other entertainment, clothing and accessories, jewellery, luggage and bags, cosmetics, personal health and hygiene, electronics, home furnishings, and housewares, automobiles, transport and travel, hotels, financial services, loyalty and reward programs, media services, entertainment services, social networking services, payment services, on-line advertising services, other e-commerce, information and communications and services, concierge services, and other products and services that we think may be relevant to you based on information you provide to us (for instance, via your participation in our surveys).
            </li>
          </ol>

          <p>
            You may partially or entirely opt-out of receiving such direct marketing communications at any time by: (a) amending your preferences in accordance with “How to check and update your personal data” section below, (b) mailing to; Marketing Department, L Room 1010, 10/F, Tower 1, Silvercord, 30 Canton Road, TST, Hong Kong, (c) in the case of emails, by clicking the “unsubscribe” link at the bottom of such emails.
          </p>

          <h3 class="ui header">SECURITY AND PROTECTION OF YOUR INFORMATION</h3>

          <p>
            We protect the personal data that you provide to us by reasonable physical, electronic and managerial measures. Please be aware that despite our efforts, no data security measures can guarantee 100% security at all times.
          </p>

          <p>
            To protect your personal data while you are on our Site, we will encrypt any personal data you transmit to us via our Site using Secure Socket Layer (SSL) — an industry standard for encryption over the Internet.
          </p>

          <p>
            Nothing in this Privacy Policy shall limit any of your rights to the extent such rights cannot be limited by applicable law.
          </p>

          <h3 class="ui header">DISCLOSURE OF YOUR PERSONAL DATA</h3>

          <p>
            Your personal data held by us will be kept confidential, except we may disclose your personal data to the following parties (who may be located, and use your personal data, outside of your country of residence):
          </p>

          <ol class="ui list">
            <li value="-">
              Any: (a) of our related companies (including our affiliate and subsidiary companies), or (b) person or company (including third party agent or sub-contractor) who is acting for, on behalf of or jointly with us; in both cases to fulfill any of the Purposes, provided that such parties are subject to confidentiality and privacy obligations that are materially equivalent to those set out in this Privacy Policy. You can request information regarding the collection, use, storage or disclosure of your personal data by our third party service providers by contacting us as described in the "Our Contact Details" section below.
            </li>

            <ol>
              <li value="-">
                Any financial institutions, charge or credit card issuing companies, credit information or reference bureaus, or collection agencies where necessary to establish and support the payment of any products and services being requested by you; and
              </li>

              <li value="-">
                Any other party where such disclosure is mandated by statutory or contractual obligations or as required by law or court of law, or where such disclosure is necessary to protect our interests (as permitted by law).
              </li>
            </ol>
          </ol>

          <p>
            We do not provide your personal data to any other third parties unless your prior express consent is obtained. We may transfer anonymous and aggregated data to third parties from time to time, which may include your personal data in an anonymous format and which does not allow the third parties to identify you in any way other than on our own Site.
          </p>

          <p>
            This Privacy Policy applies to us and our Site, but not to any other third parties (including any websites maintained by third parties). Please check and read such third party's privacy policy before submitting any of your personal data to such third parties (whether via our Site or not). We do not accept any responsibility or liability for any use or breach of your personal data by such third parties.
          </p>

          <h3 class="ui header">HOW TO CHECK AND UPDATE YOUR PERSONAL DATA</h3>

          <p>
            You may wish to access, verify, update, or delete any of your personal data that we hold. You can do so:
          </p>

          <div class="ui bulleted list">
            <div class="item">
              If you subscribe to our online newsletter, by clicking "unsubscribe" at any time to delete your personal data from our databases;
            </div>
            <div class="item">
              Alternatively, where you have provided your personal data via means other than our Site you may by contacting our Marketing Department (at the details as set out at "Our Contact Details" section below).
            </div>
          </div>

          <h3 class="ui header">CHILDREN</h3>

          <p>
            We do not use our Site to knowingly solicit any personal data or other information from any persons under the age of 18. If you are under 18, by visiting our Site you agree that you have informed your parents and guardians about the Privacy Policy prior to such registration or use, and they have approved of such registration or use by you on the terms of the Privacy Policy.
          </p>

          <p>
            If you wish to contact us regarding this Privacy Policy (including in relation to any of your rights under this Privacy Policy or any other questions you may have), please contact our Privacy Officer at:
            <address>
              Marketing Department
              <br> Room 1010, 10/F, Tower 1, Silvercord, 30 Canton Road, TST
            </address>
          </p>
        </justified-content>
      </div>
    </div>
  </div>
</template>

<script>
import JustifiedContent from '@/components/common/JustifiedContent'

export default {
  name: 'privacy-policy',

  components: {
    JustifiedContent
  }
}
</script>

<style scoped>

</style>
