<template>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <div class="ui breadcrumb">
          <a href="/" class="section">{{ $t('home') }}</a>
          <div class="divider"> / </div>
          <div class="active section">{{ $t('promotion') }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <img src="/static/images/promotion/2018-09-03.jpg" class="ui centered image">
      </div>
    </div>

  </div>
</template>

<script>
import JustifiedContent from '@/components/common/JustifiedContent'

export default {
  name: 'about-us',

  components: {
    JustifiedContent
  }
}
</script>

<style>

</style>
