<template>
  <div class="ui stackable grid">
    <div class="row">
      <div class="column">
        <div class="ui breadcrumb">
          <a href="/" class="section">{{ $t('home') }}</a>
          <div class="divider"> / </div>
          <div class="active section">{{ $t('find_a_store.title') }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="five wide column">
        <div class="ui segment">
          <div class="ui top attached black label">
            <h5>
              {{ $t('find_a_store.store_location') }}
            </h5>
          </div>

          <div class="store-list">
            <div class="item" v-for="(store, index) in stores" :key="index" :class="{ active: store.active }" @click="onSelected(index)">
              <h5>{{ store.name }}</h5>
              {{ $t('find_a_store.address') }} {{ store.address[language] }}
              <br>
              <br> {{ $t('find_a_store.contact') }} {{ store.phone}}
            </div>
          </div>

        </div>
      </div>

      <div class="eleven wide column">
        <gmap-map :center="map.center" :zoom="map.zoom" style="width: 100%; height: 500px" ref="map">
          <gmap-marker v-for="(store, index) in stores" :key="index" :position="store.position" :clickable="true" :draggable="false" @click="center=store.position"></gmap-marker>
        </gmap-map>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyBCg53R_7ppXV5O3BKiDWljCPzWvHsc55Q',
    v: '3.28',
    language: localStorage.getItem('lang') === 'en' ? 'en' : 'zh-TW'
    // libraries: 'places', //// If you need to use place input
  }
})

export default {
  name: 'store',

  components: {
    //
  },

  // mounted() {
  //   this.$refs.map.$mapCreated.then(() => {
  //     let b = new this.$refs.map.bounds

  //     b.extend({
  //       lat: 33.972,
  //       lng: 35.4054
  //     })

  //     this.$refs.map.fitBounds(b)
  //   })
  // },

  methods: {
    onSelected(index) {
      this.resetActiveClass()
      this.resetZoomLevel()
      this.setStore(index)
    },

    resetActiveClass() {
      this.stores.forEach(function (store) {
        store.active = false
      }, this)
    },

    setStore(index) {
      this.map.center = this.stores[index].position
      this.stores[index].active = !this.stores[index].active
    },

    resetZoomLevel() {
      if (this.$refs.map.$mapObject.zoom !== this.map.zoom) {
        this.$refs.map.$mapObject.setZoom(this.map.zoom)
      }
    }
  },

  data() {
    return {
      mapObj: null,

      map: {
        center: {
          lat: 22.280247,
          lng: 114.184309
        },
        zoom: 19
      },

      language: this.$locale.current(),

      stores: [
        {
          name: '3NITY (PopCorn)',
          address: {
            en: 'Shop Unit F13, 1/F, PopCorn, 9 Tong Yin Street, Tseung Kwan O, NT',
            tc: '新界將軍澳唐賢街9號PopCorn商場1樓F13號舖',
            sc: '新界将军澳唐贤街9号PopCorn商场1楼F13号铺'
          },
          phone: '(852) 2759 1300',
          position: { lat: 22.307801, lng: 114.259800 },
          active: false
        },
        {
          name: '3NITY (Metroplaza)',
          address: {
            en: 'Shop 166, Level 1, Metroplaza, 223 Hing Fong Road, Kwai Fong, NT',
            tc: '新界葵芳興芳道223號新都會廣場1樓166號舖',
            sc: '新界葵芳兴芳道223号新都会广场1楼166号铺'
          },
          phone: '(852) 2771 7183',
          position: { lat: 22.357492, lng: 114.126353 },
          active: false
        }
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.store-list {
  /*width: 100%;*/
}

.active {
  background-color: #F0F0F0;
  font-weight: bold;
}

.item {
  cursor: pointer;
  border-bottom: 1px dotted #C0C0C0;
  padding: 5px;
  margin: 0;
}
</style>
