<template>
  <div>
    <div class="ui relaxed divided items" v-if="language !=='sc'">
      <list-item v-for="(item, key) in newsList.tc.slice(0, 4)" :key="key" :item="item"></list-item>
    </div>

    <div class="ui relaxed divided items" v-if="language ==='sc'">
      <list-item v-for="(item, key) in newsList.sc.slice(0, 4)" :key="key" :item="item"></list-item>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ListItem from '@/components/news/ListItem'

export default {
  name: 'news',

  computed: mapGetters({
    newsList: 'getNewsList'
  }),

  components: {
    ListItem
  },

  data() {
    return {
      language: localStorage.getItem('lang') ? localStorage.getItem('lang') : 'tc'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
