<template>
  <swiper :options="swiperOption">
    <swiper-slide v-for="image in images" :key="image.id">
      <img :src="getImage(image.path)" class="ui image">
    </swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'slideshow',

  components: {
    swiper,
    swiperSlide
  },

  methods: {
    getImage(url) {
      return '/static/images/slideshow/' + url
    }
  },

  data() {
    return {
      'images': [
        { path: 'lacoste/4.jpg' },
        { path: 'creative_recreation/5.jpg' },
        { path: 'sprayground/2.jpg' },
        { path: 'wesc/3.jpg' },
        { path: 'butterfly_twists/1.jpg' }
      ],
      swiperOption: {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 3000,
        autoplayDisableOnInteraction: false,
        loop: true
      }
    }
  }
}
</script>

<style scoped>
.ui.fluid.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
</style>
