<template>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui inverted divided equal height grid">
        <div class="row">
          <div class="five wide column">
            <h4 class="ui inverted header">3NITY</h4>
            <div class="ui inverted link list">
              <a href="/about-us" class="item">{{ $t("footer.about_us") }}</a>
              <a href="/contact-us" class="item">{{ $t("footer.contact_us") }}</a>
              <!--<a href="/sitemap" class="item">Sitemap</a>-->
              <a href="/privacy-policy" class="item">{{ $t("footer.privacy_policy") }}</a>
            </div>
          </div>

          <div class="five wide column">
            <h4 class="ui inverted header">{{ $t('footer.our_brands') }}</h4>
            <div class="ui inverted link list">
              <a class="item" href="/brands/butterfly-twists">Butterfly Twists</a>
              <a class="item" href="/brands/creative-recreation">Creative Recreation</a>
              <a class="item" href="/brands/lacoste">Lacoste</a>
              <a class="item" href="/brands/sprayground">Sprayground</a>
              <a class="item" href="/brands/wesc">WeSC</a>
            </div>
          </div>

          <div class="six wide column">
            <h4 class="ui inverted header">{{ $t('footer.connect_with_us') }}</h4>
            <a href="https://www.facebook.com/3nityhk/" target="new">
              <i class="large facebook square icon"></i>
            </a>
            <a href="https://www.instagram.com/3nity_hk/" target="new">
              <i class="large instagram icon"></i>
            </a>

            <br>
            <br>
            <br>

            <a href="/subscription" class="ui blue basic button">
              <i class="mail icon"></i> {{ $t("footer.signup_for_newsletter") }}
            </a>
          </div>

        </div>

        <div class="row">
          <div class="wide center aligned column">
            {{ $t('footer.copyright_reserved') }}
          </div>
        </div>

      </div>
    </div>

    <!-- <promotion></promotion> -->
  </div>
</template>

<script>
// import Promotion from './Promotion'

export default {
  name: 'app-footer'
  // name: 'app-footer',
  // components: {
  //   Promotion
  // }
}
</script>

<style scoped>
.footer.segment {
  padding: 2em 0em;
}
</style>
