<template>
  <div class="ui grid">
    <div class="large screen computer tablet only row">
      <div class="column">
        <div class="ui borderless inverted large menu no-radius">
          <div class="ui container">
            <div class="header item">
              <a href="/">
                <img class="logo" src="/static/images/logo.png">
              </a>
            </div>

            <div class="item">
              <a href="/about-us">{{ $t("about_us") }}</a>
            </div>

            <div class="ui simple dropdown item">
              {{ $t("our_brands") }}
              <div class="menu">
                <a class="item" href="/brands/butterfly-twists">Butterfly Twists</a>
                <a class="item" href="/brands/creative-recreation">Creative Recreation</a>
                <a class="item" href="/brands/lacoste">Lacoste</a>
                <a class="item" href="/brands/sprayground">Sprayground</a>
                <a class="item" href="/brands/wesc">WeSC</a>
              </div>
            </div>

            <div class="ui simple dropdown item">
              {{ $t("shop") }}
              <div class="menu">
                <a class="item" href="/shop/3nity">3NITY</a>
                <a class="item" href="/shop/distributor">{{ $t("distributor") }}</a>
              </div>
            </div>

            <div class="item">
              <a href="/news">{{ $t("news") }}</a>
            </div>

            <!--<div class="item">
              <a href="/stores">{{ $t("find_a_store.title") }}</a>
            </div>-->

            <div class="item">
              <a href="/promotion">{{ $t("promotion") }}</a>
            </div>

            <div class="right menu">
              <div class="ui dropdown item">
                <i class="hk flag"></i> {{ $t("country.hong_kong") }}

                <i class="dropdown icon"></i>

                <div class="menu">
                  <a class="item" href="http://3nitystore.com.cn" target="new">
                    <i class="cn flag"></i> {{ $t("country.china") }}
                  </a>
                </div>
              </div>

              <div class="ui simple dropdown item">
                <i class="world icon"></i>
                <div class="text">{{ languages[currentLang] }}</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" v-for="(lang, key) in languages" :key="key" @click="changeLang(key)">
                    {{ lang }}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="mobile only one column row">
      <div class="column">
        <div class="ui inverted mini borderless menu no-radius">
          <div class="item">
            <a href="/">
              <img class="ui image" src="/static/images/logo.png">
            </a>
          </div>
          <div class="right menu">
            <div class="ui dropdown item">
              <i class="hk flag"></i> {{ $t("country.hong_kong") }}

              <i class="dropdown icon"></i>

              <div class="menu">
                <a class="item" href="http://3nitystore.com.cn" target="new">
                  <i class="cn flag"></i> {{ $t("country.china") }}
                </a>
              </div>
            </div>

            <div class="ui simple dropdown item">
              <i class="world icon"></i>
              <div class="text">{{ languages[currentLang] }}</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" v-for="(lang, key) in languages" :key="key" @click="changeLang(key)">
                  {{ lang }}
                </div>
              </div>
            </div>

            <div class="ui item" @click="toggleSidebar()">
              <i class="sidebar icon"></i>
            </div>
          </div>
        </div>
      </div>

      <div id="sidebar" class="column">
        <div class="ui inverted vertical fluid menu no-radius">
          <div class="item">
            <a href="/about-us">{{ $t("about_us") }}</a>
          </div>

          <div class="item">
            {{ $t("our_brands") }}

            <div class="ui inverted vertical fluid menu no-radius sub-menu">
              <div class="item">
                <div class="content">
                  <a href="/brands/butterfly-twists">Butterfly Twists</a>
                </div>
              </div>

              <div class="item">
                <div class="content">
                  <a href="/brands/creative-recreation">Creative Recreation</a>
                </div>
              </div>

              <div class="item">
                <div class="content">
                  <a href="/brands/lacoste">Lacoste</a>
                </div>
              </div>

              <div class="item">
                <div class="content">
                  <a href="/brands/sprayground">Sprayground</a>
                </div>
              </div>

              <div class="item">
                <div class="content">
                  <a href="/brands/wesc">WeSC</a>
                </div>
              </div>

            </div>
          </div>

          <div class="item">
            {{ $t("shop") }}

            <div class="ui inverted vertical fluid menu no-radius sub-menu">
              <div class="item">
                <div class="content">
                  <a href="/shop/3nity">3NITY</a>
                </div>
              </div>

              <div class="item">
                <div class="content">
                  <a href="/shop/distributor">{{ $t("distributor") }}</a>
                </div>
              </div>

            </div>
          </div>

          <div class="item">
            <a href="/news">{{ $t("news") }}</a>
          </div>

          <div class="item">
            <a href="/stores">{{ $t("find_a_store.title") }}</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  name: 'app-header',

  mounted() {
    $('.dropdown').dropdown()
  },

  data() {
    return {
      languages: {
        en: 'English',
        tc: '繁體中文',
        sc: '简体中文'
      },
      currentLang: this.$locale.current()
    }
  },

  methods: {
    changeLang(lang) {
      if (this.$locale.current() !== lang) {
        localStorage.setItem('lang', lang)

        // when route path is stores, reload the page for google map reinitialization
        if (this.$route.fullPath === '/' || this.$route.fullPath === '/stores' || this.$route.fullPath.includes('/news')) {
          window.location.reload()
        } else {
          this.$locale.change(lang)
        }
      }
    },

    toggleSidebar() {
      $('#sidebar').transition('slide down', '100ms')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.no-radius {
  border-radius: 0 !important;
}

#sidebar {
  display: none;
}

.sub-menu {
  padding-left: 1em;
}
</style>
