<template>
  <div class="ui basic modal" id="promotion">
    <i class="close icon"></i>
    <div class="content">
      <a href="/subscription">
        <img src="/static/images/promotion/1.jpg" class="ui image">
      </a>
    </div>
  </div>

</template>

<script>
import $ from 'jquery'
// import { HTTP } from '@/api/http'

export default {
  name: 'promotion',

  data() {
    return {
      promotion: {}
    }
  },

  created() {
    let promotionShowed = this.getCookie()

    if (!promotionShowed) {
      setTimeout(() => {
        $('#promotion').modal('show')

        this.setCookie()
      }, 2000)
    }
  },

  methods: {
    setCookie() {
      let d = new Date()
      d.setTime(d.getTime() + 60 * 60 * 1000)

      let expires = 'expires=' + d.toUTCString()
      document.cookie = 'promotionShowed=true;' + expires + ';path=/'
    },

    getCookie() {
      let name = 'promotionShowed='
      let ca = document.cookie.split(';')

      for (var i = 0; i < ca.length; i++) {
        var c = ca[i]
        while (c.charAt(0) === ' ') {
          c = c.substring(1)
        }
        if (c.indexOf(name) === 0) {
          return c.substring(name.length, c.length)
        }
      }
      return ''
    }
  }
}
</script>

<style>

</style>
