<template>
  <div>
    <div id="subscription_modal" class="ui modal">
      <i class="close icon"></i>
      <div class="image content">
        <div class="description">
          <div class="ui header">{{ $t('subscription_form.title') }}</div>

          <div class="ui message success hidden">
             <div v-html="$t('subscription_form.success_message')"></div>
          </div>

          <div id="subscription_form" class="ui form">
            <div class="field">
              <label>{{ $t('subscription_form.name') }}</label>
              <input type="text" name="name">
            </div>

            <div class="field">
              <label>{{ $t('subscription_form.email') }}</label>
              <input type="email" name="email">
            </div>

            <div class="field">
              <label>{{ $t('subscription_form.gender') }}</label>
              <select name="gender" class="ui fluid dropdown">
                <option value="">{{ $t('subscription_form.gender') }}</option>
                <option value="female">{{ $t('subscription_form.female') }}</option>
                <option value="male">{{ $t('subscription_form.male') }}</option>
              </select>
            </div>

            <div class="inline field">
              <div class="ui checkbox">
                <input type="checkbox" name="policy" checked="checked">
                <label v-html="$t('subscription_form.agreement')"></label>
              </div>
            </div>

            <button class="ui submit green button right floated" @click="onSubmit()">{{ $t('button.submit') }}</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
import $ from 'jquery'
import moment from 'moment'

import { HTTP } from '@/api/http'
require('promise.prototype.finally').shim()

export default {
  name: 'subscription',

  data() {
    return {
      form: '#subscription_form'
    }
  },

  mounted() {
    $('.ui.checkbox').checkbox()

    // Form validation
    $(this.form).form({
      inline: true,
      fields: {
        name: {
          identifier: 'name',
          rules: [
            {
              type: 'empty',
              prompt: this.$i18n.t('subscription_form.errors.name.required')
            }
          ]
        },
        email: {
          identifier: 'email',
          rules: [
            {
              type: 'empty',
              prompt: this.$i18n.t('subscription_form.errors.email.required')
            },
            {
              type: 'email',
              prompt: this.$i18n.t('subscription_form.errors.email.invalid')
            }
          ]
        },
        gender: {
          identifier: 'gender',
          rules: [
            {
              type: 'empty',
              prompt: this.$i18n.t('subscription_form.errors.gender.required')
            }
          ]
        },
        policy: {
          identifier: 'policy',
          rules: [
            {
              type: 'checked',
              prompt: this.$i18n.t('subscription_form.errors.policy.checked')
            }
          ]
        }
      }
    })
  },

  methods: {
    onSubmit() {
      // All data valid
      if ($(this.form).form('is valid')) {
        // Get form values
        let data = $(this.form).form('get values')

        // Additional values
        data.language_code = this.$i18n.locale
        data.policy = data.policy === 'on' ? '1' : '0'
        data.date = moment().format('YYYY-MM-DD')

        // Make button loading
        $('button.submit').addClass('loading disabled')

        this.subscribe(data)
      }
    },

    // Post data to backend
    subscribe(data) {
      HTTP.post('/newsletter/subscribe', data)
        .then((response) => {
          if (response.data.status === 'success') {
            this.resetForm()
            this.toggleSuccessMessage(true)
          }
        })
        .catch((error) => {
          let errors = error.response.data

          if (errors.email) {
            this.addPrompts('email', this.$i18n.t('subscription_form.errors.' + errors.email[0]))
          }
        })
        .finally(() => {
          $('button.submit').removeClass('loading disabled')
        })
    },

    resetForm() {
      $(this.form).form('reset')
    },

    toggleSuccessMessage(status) {
      $('.ui.message.success').toggle(status)
    },

    addPrompts(field, message) {
      $(this.form).form('add prompt', field, message)
    }
  }
}
</script>

<style scoped>

</style>
