<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/sprayground/1/4.jpg" class="ui centered large bordered image">

      <div class="ui divider hidden"></div>

      <p>
        美國品牌Sprayground 成立以來一直以創新為品牌基礎，每一季都推出與眾不同，既型格又不失時尚的背囊，而每一個背囊都有其獨特之處。故此，Sprayground 一直深受粉絲歡迎。
      </p>

      <p>
        來到新一季，Sprayground 再次帶來新款背囊，今次更照顧一眾電子界朋友，方便大家攜帶所需物件，輕鬆踏上道路。Sprayground 今次推出的背囊名為Smartpack，袋身只有1.5吋厚，，是目前最薄的時尚旅行背囊之一。Smartpack 袋身雖然極為纖薄，卻內有乾坤，最大的內層能擺放各種不同的手提電腦，另外外層是一個專為iPad 而設的間格，方便需攜帶各種電子產品的現代人，不論是上班眾還是學生們。除之內左功能，Smartpack 以簡潔為設計重點，以銀灰色為整個背囊的顏色，簡約低調。
      </p>

      <p>
        簡潔外型的背囊一直深受大家歡迎，Smartpack 簡單的設計，配合能擺放各種電子產品的內在，相信是不少型男們的心水之選。
      </p>

      <div class="ui stackable three column grid">
        <div class="row">
          <div class="column">
            <img src="/static/images/news/sprayground/1/1.png">
          </div>
          <div class="column">
            <img src="/static/images/news/sprayground/1/2.png">
          </div>
          <div class="column">
            <img src="/static/images/news/sprayground/1/3.png">
          </div>
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/sprayground/1/4.jpg" class="ui centered large bordered image">

      <div class="ui divider hidden"></div>

      <p>
        美国品牌Sprayground 成立以来一直以创新为品牌基础，每一季都推出与众不同，既型格又不失时尚的背囊，而每一个背囊都有其独特之处。故此，Sprayground 一直深受粉丝欢迎。
      </p>

      <p>
        来到新一季，Sprayground 再次带来新款背囊，今次更照顾一众电子界朋友，方便大家携带所需物件，轻松踏上道路。 Sprayground 今次推出的背囊名为Smartpack，袋身只有1.5吋厚，，是目前最薄的时尚旅行背囊之一。 Smartpack 袋身虽然极为纤薄，却内有乾坤，最大的内层能摆放各种不同的手提电脑，另外外层是一个专为iPad 而设的间格，方便需携带各种电子产品的现代人，不论是上班众还是学生们。除之内左功能，Smartpack 以简洁为设计重点，以银灰色为整个背囊的颜色，简约低调。
      </p>

      <p>
        简洁外型的背囊一直深受大家欢迎，Smartpack 简单的设计，配合能摆放各种电子产品的内在，相信是不少型男们的心水之选。
      </p>

      <div class="ui stackable three column grid">
        <div class="row">
          <div class="column">
            <img src="/static/images/news/sprayground/1/1.png">
          </div>

          <div class="column">
            <img src="/static/images/news/sprayground/1/2.png">
          </div>

          <div class="column">
            <img src="/static/images/news/sprayground/1/3.png">
          </div>
        </div>
      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Sprayground Smartpack',
        tc: 'Sprayground Smartpack',
        sc: 'Sprayground Smartpack'
      }
    }
  }
}
</script>


<style scoped>

</style>
