<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/sprayground/2/4.png" class="ui centered large bordered image">

      <div class="ui divider hidden"></div>

      <p>
        美國品牌Sprayground 自2010 年成立而來，以大膽創新為品牌宗旨，每一季都推出與眾不同的背囊吸引大家，過往亦曾與不少品牌 crossover 如Marvel 系列、海綿寶寶及忍者龜等。來到初夏，Sprayground 再次隆重推出全新crossover 背囊，以新的一頁迎接夏天。
      </p>

      <p>
        Sprayground 是次推出的 crossover 系列名為Spacejam Good VS Evil，是次crossover 以太空為主題，以太空背景配合由極受歡迎的賓妮兔家族及遊戲Smashup 邪惡人物對疊，雙方如箭在弦，大戰一觸即發，準備來一場生死之戰。另外，更於背囊上襯上Sprayground背囊中的特點 — 飛天雙翼，而且吻合飛上太空的意念。此外，Spacejam Good VS Evil背囊具備900D的防水功能及符合人體工程學的背部支撐，加上分佈不同位置的收納格，最適合於夏天外出時帶上不同的物資，更不用怕多雨的日子。
      </p>

      <p>
        Sprayground今個初夏的crossover由賓妮兔家族領軍，勢必引起愛袋之人及一眾動漫支持者關注，而且今個夏天將會有更多更搶手更吸引的crossover 陸續推出，讓大家拭目以待。
      </p>

      <div class="ui centered card">
        <div class="image">
          <img src="/static/images/news/sprayground/2/2.png">
        </div>
        <div class="content">
          <a class="header">Spacejam Good VS Evil</a>
        </div>
        <div class="extra content">
          售價$800港幣
        </div>
      </div>

    </div>

    <div slot="sc">
      <img src="/static/images/news/sprayground/2/4.png" class="ui centered large bordered image">

      <div class="ui divider hidden"></div>

      <p>
        美国品牌Sprayground 自2010 年成立而来，以大胆创新为品牌宗旨，每一季都推出与众不同的背囊吸引大家，过往亦曾与不少品牌 crossover 如Marvel 系列、海绵宝宝及忍者龟等。来到初夏，Sprayground 再次隆重推出全新crossover 背囊，以新的一页迎接夏天。
      </p>

      <p>
        Sprayground 是次推出的crossover 系列名为Spacejam Good VS Evil，是次crossover 以太空为主题，以太空背景配合由极受欢迎的宾妮兔家族及游戏Smashup 邪恶人物对叠，双方如箭在弦，大战一触即发，准备来一场生死之战。另外，更于背囊上衬上Sprayground背囊中的特点 — 飞天双翼，而且吻合飞上太空的意念。此外，Spacejam Good VS Evil背囊具备900D的防水功能及符合人体工程学的背部支撑，加上分布不同位置的收纳格，最适合于夏天外出时带上不同的物资，更不用怕多雨的日子。
      </p>

      <p>
        Sprayground今个初夏的crossover由宾妮兔家族领军，势必引起爱袋之人及一众动漫支持者关注，而且今个夏天将会有更多更抢手更吸引的crossover 陆续推出，让大家拭目以待。
      </p>

      <div class="ui centered card">

        <div class="image">

          <img src="/static/images/news/sprayground/2/2.png">
        </div>

        <div class="content">

          <a class="header">Spacejam Good VS Evil</a>
        </div>

        <div class="extra content">
          售价$800港币
        </div>
      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Sprayground X 賓妮兔家族 太空對戰',
        tc: 'Sprayground X 賓妮兔家族 太空對戰',
        sc: 'Sprayground X 宾妮兔家族 太空对战'
      }
    }
  }
}
</script>

<style scoped>
.ui.card {
  width: 50%;
  background-color: #FFFFFF;
}
</style>
