<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/sprayground/3/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        暑假到來，想必大家最近一定非常忙碌，因為一套又一套異常吸引的大電影接踵而來！當中Minions 迷你兵團及蜘蛛俠老少咸宜，是不少人的必看之選。Sprayground 深知大家對他們的熱愛，於電影上映期間再次和Minions 迷你兵團及蜘蛛俠 crossover 推出限量版背囊，滿足粉絲們的心！
      </p>

      <p>
        Sprayground 新出的Minions 背囊名為Mininons on the Run，正好配合《壞蛋獎門人3》的劇情，Minions 迷你兵團與波士決裂，勢要做大壞蛋，更勇闖監獄，嚇怕一眾囚犯！背囊上Minions 迷你兵團亦穿上囚衣，配上邪惡的笑容，以獨有的英姿跑步，防止任何一個人捉到他們！你又能否成功捉到可愛的Minions 迷你兵團？
      </p>

      <p>
        另一方面，蜘蛛俠正蠢蠢欲動，勢要證明自已的價值！眾所周知，蜘蛛俠尤如蜘蛛一般，能製作蜘蛛絲並用之穿梭不同的大廈，在電影中更嘗試以蜘蛛絲將斷裂的船隻奮力連結！在背囊上，蜘蛛俠以蜘蛛絲形成網狀的鯊魚，襯上他的標誌紅色戰衣，展現他霸氣的一面，更想表達年齡不算甚麼，即使年輕亦能做到一個英雄！
      </p>

      <p>
        可愛的Minions 迷你兵團及正義的蜘蛛俠各有所好，兩款不同的背囊勢必引起你的注意！
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/sprayground/3/2.png">
            </div>
            <div class="content">
              <a class="header">Minions on the run</a>
            </div>
            <div class="extra content">
              售價 $700 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/sprayground/3/3.png">
            </div>
            <div class="content">
              <a class="header">Marvel Spiderman Webbed Shark</a>
            </div>
            <div class="extra content">
              售價 $700 港幣
            </div>
          </div>
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/sprayground/3/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        暑假到来，想必大家最近一定非常忙碌，因为一套又一套异常吸引的大电影接踵而来！当中Minions 迷你兵团及蜘蛛侠老少咸宜，是不少人的必看之选。 Sprayground 深知大家对他们的热爱，于电影上映期间再次和Minions 迷你兵团及蜘蛛侠 crossover 推出限量版背囊，满足粉丝们的心！
      </p>

      <p>
        Sprayground 新出的Minions 背囊名为Mininons on the Run，正好配合《坏蛋奖门人3》的剧情，Minions 迷你兵团与波士决裂，势要做大坏蛋，更勇闯监狱，吓怕一众囚犯！背囊上Minions 迷你兵团亦穿上囚衣，配上邪恶的笑容，以独有的英姿跑步，防止任何一个人捉到他们！你又能否成功捉到可爱的Minions 迷你兵团？
      </p>

      <p>
        另一方面，蜘蛛侠正蠢蠢欲动，势要证明自已的价值！众所周知，蜘蛛侠尤如蜘蛛一般，能制作蜘蛛丝并用之穿梭不同的大厦，在电影中更尝试以蜘蛛丝将断裂的船只奋力连结！在背囊上，蜘蛛侠以蜘蛛丝形成网状的鲨鱼，衬上他的标志红色战衣，展现他霸气的一面，更想表达年龄不算什么，即使年轻亦能做到一个英雄！
      </p>

      <p>
        可爱的Minions 迷你兵团及正义的蜘蛛侠各有所好，两款不同的背囊势必引起你的注意！
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/3/2.png">
            </div>

            <div class="content">

              <a class="header">Minions on the run</a>
            </div>

            <div class="extra content">
              售价 $700 港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/3/3.png">
            </div>

            <div class="content">

              <a class="header">Marvel Spiderman Webbed Shark</a>
            </div>

            <div class="extra content">
              售价 $700 港币
            </div>
          </div>
        </div>
      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Minions迷你兵團 + 蜘蛛俠@Sprayground 共同強勢回歸！',
        tc: 'Minions迷你兵團 + 蜘蛛俠@Sprayground 共同強勢回歸！',
        sc: 'Minions迷你兵团 + 蜘蛛侠@Sprayground 共同强势回归！'
      }
    }
  }
}
</script>

<style scoped>
</style>
