<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/sprayground/4/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        Sprayground繼推出Marvel蜘蛛俠及Minions大受歡迎之後，Sprayground再次推出crossover背包！今次，是和大家每天都會接觸到的Emoji合作，配合即將上映的《Emoji大冒險》電影，推出限量版的Emoji背包！
      </p>

      <p>
        《Emoji大冒險》電影即將上映，一眾emoji 正隱藏在通訊程式中的一個城市裡，當中的阿基及俾個五和JB踏上冒險旅程，防止emoji 們消失的危機！除了電影外，每天的日常生活中少不免都會使用不同的emoji，emoji 在今天和我們的生活密不可分，各種的emoji 表達了我們不同的情感。Sprayground 亦特別為大家準備了不同的emoji 再襯上Sprayground 的鯊魚標誌，整個背包搶眼之餘，更能增加討論度，背上emoji 背包和朋友外出，勢必談論一番！
      </p>

      <div class="ui centered card">
        <div class="image">
          <img src="/static/images/news/sprayground/4/2.png">
        </div>
        <div class="content">
          <a class="header">Emoji Shark</a>
        </div>
        <div class="extra content">
          售價 $650 港幣
        </div>
      </div>

    </div>

    <div slot="sc">

      <img src="/static/images/news/sprayground/4/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        Sprayground继推出Marvel蜘蛛侠及Minions大受欢迎之后，Sprayground再次推出crossover背包！今次，是和大家每天都会接触到的Emoji合作，配合即将上映的《Emoji大冒险》电影，推出限量版的Emoji背包！
      </p>

      <p>
        《Emoji大冒险》电影即将上映，一众emoji 正隐藏在通讯程式中的一个城市里，当中的阿基及俾个五和JB踏上冒险旅程，防止emoji 们消失的危机！除了电影外，每天的日常生活中少不免都会使用不同的emoji，emoji 在今天和我们的生活密不可分，各种的emoji 表达了我们不同的情感。 Sprayground 亦特别为大家准备了不同的emoji 再衬上Sprayground 的鲨鱼标志，整个背包抢眼之余，更能增加讨论度，背上emoji 背包和朋友外出，势必谈论一番！
      </p>

      <div class="ui centered card">

        <div class="image">

          <img src="/static/images/news/sprayground/4/2.png">
        </div>

        <div class="content">

          <a class="header">Emoji Shark</a>
        </div>

        <div class="extra content">
          售价 $650 港币
        </div>
      </div>

    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '背上Sprayground 與Emoji一同大冒險！',
        tc: '背上Sprayground 與Emoji一同大冒險！',
        sc: '背上Sprayground 与Emoji一同大冒险！'
      }
    }
  }
}
</script>

<style scoped>

</style>
