<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/sprayground/5/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        暑假來去匆匆，轉眼之間又快要到上學的日子，是時候為新學年準備上學的物品，而當中每天背著書本、文具的書包尤為重要，是陪伴每天上下課的重要拍檔！Sprayground已特意為一眾莘莘學子準備好如此重要的好拍擋，推出特別的嘴唇系列。
      </p>

      <p>
        Sprayground新推出的嘴唇系列和大家共渡新學年共有兩款，一款以神秘的叢林為主題名為Jungle Lips，另一款則以令人垂涎欲滴的甜品為主題名為Sugar Lips，兩款均襯上豐滿的嘴唇。以叢林為主題的Jungle Lips 以綠色為背景配上不同的綠葉和鮮花，吸引奪目。另一款以甜品為主題的Sugar Lips則包括各式各樣的甜品，如雪糕、蛋糕、波棒糖等，即使未能吃到肚中，望著也使人心情愉快。兩者襯上豐滿的嘴唇更是別有一垂獨特的風格。
      </p>

      <p>
        此外，作為每天上學心用的書包，除了外在外，又怎能忽視內在功能！兩款書包均採用耐用輕巧的特制紡織物，且以絲絨質料作背囊內則的口袋，更以符合人體工程學的背部支撐，保護性倍增，則使背上各種又厚又重的書本也不怕影響學生們的脊椎。此外，書包內更有不少細格方便學生們擺放不同上覺物品，更有防水功能，上學時遇上大風大雨也不怕弄濕書包內的書本。
      </p>

      <p>
        Sprayground新出的嘴唇系列，外在內在兼備，最適合一眾學生們背上書包每天一同上下課！
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/5/2.png">
            </div>

            <div class="content">

              <a class="header">Jungle Lips</a>
            </div>

            <div class="extra content">
              售價 $650 港幣
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/5/3.png">
            </div>

            <div class="content">

              <a class="header">Sugar Lips</a>
            </div>

            <div class="extra content">
              售價 $650 港幣
            </div>
          </div>
        </div>
      </div>

    </div>

    <div slot="sc">
      <img src="/static/images/news/sprayground/5/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        暑假来去匆匆，转眼之间又快要到上学的日子，是时候为新学年准备上学的物品，而当中每天背著书本、文具的书包尤为重要，是陪伴每天上下课的重要拍档！ Sprayground已特意为一众莘莘学子准备好如此重要的好拍挡，推出特别的嘴唇系列。
      </p>


      <p>
        Sprayground新推出的嘴唇系列和大家共渡新学年共有两款，一款以神秘的丛林为主题名为Jungle Lips，另一款则以令人垂涎欲滴的甜品为主题名为Sugar Lips，两款均衬上丰满的嘴唇。以丛林为主题的Jungle Lips 以绿色为背景配上不同的绿叶和鲜花，吸引夺目。另一款以甜品为主题的Sugar Lips则包括各式各样的甜品，如雪糕、蛋糕、波棒糖等，即使未能吃到肚中，望着也使人心情愉快。两者衬上丰满的嘴唇更是别有一垂独特的风格。
      </p>


      <p>
        此外，作为每天上学心用的书包，除了外在外，又怎能忽视内在功能！两款书包均采用耐用轻巧的特制纺织物，且以丝绒质料作背囊内则的口袋，更以符合人体工程学的背部支撑，保护性倍增，则使背上各种又厚又重的书本也不怕影响学生们的脊椎。此外，书包内更有不少细格方便学生们摆放不同上觉物品，更有防水功能，上学时遇上大风大雨也不怕弄湿书包内的书本。
      </p>


      <p>
        Sprayground新出的嘴唇系列，外在内在兼备，最适合一众学生们背上书包每天一同上下课！
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/5/2.png">
            </div>

            <div class="content">

              <a class="header">Jungle Lips</a>
            </div>

            <div class="extra content">
              售价 $650 港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/5/3.png">
            </div>

            <div class="content">

              <a class="header">Sugar Lips</a>
            </div>

            <div class="extra content">
              售价 $650 港币
            </div>
          </div>
        </div>
      </div>

    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '與屬於你的Lips 上學去',
        tc: '與屬於你的Lips 上學去',
        sc: '与属于你的Lips 上学去'
      }
    }
  }
}
</script>

<style scoped>

</style>
