<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/sprayground/6/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        Sprayground自2010年創立以來，一直為大家帶來以與別不同的背包的宗旨，勢要打破傳統背包的款式。故此，每一次Sprayground都為大家設計不少玩味十足的背包，更與不少動漫合作，推出限量背包。今次，Sprayground再次大膽加入新元素，注入亞洲元素，以陰陽為最新背包的主題。
      </p>

      <p>
        Spragyround是此推出的陰陽系列共有三款，分別名為Yin Yang Shark、Yin Yang Wings和Zen Tang，各自帶有不同的陰陽元素。Yin Yang Shark以Sprayground經典鯊魚襯上陰陽的黑白兩色及加了八卦在其中，表現了陰陽當中的平衡之道。而Yin Yang Shark 則以陰陽當中的神獸為背包圖案同時配上黑白兩色，別具神氣，更配搭了Sprayground 的飛翼特色，異常吻合神獸們的意景。另外，Zen Tang 則走較為簡單的道線，全黑的背包加上陰陽八卦，別有一番風味，更能感受到當中的亞洲文化。此外，三個背包亦包括不少小格，方便擺放各種物品，讓人愛不釋手。
      </p>

      <p>
        Sprayground 最新陰陽系列，以Sprayground 的特色配合陰陽思想及圖案，特別之餘亦異常吻合，想必能引起愛袋之人的注意。
      </p>

      <div class="ui stackable three column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/6/2.png">
            </div>

            <div class="content">

              <a class="header">Yin Yang Shark</a>
            </div>

            <div class="extra content">
              售價 $800 港幣
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/6/3.png">
            </div>

            <div class="content">

              <a class="header">Ying Yang Wings</a>
            </div>

            <div class="extra content">
              售價 $800 港幣
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/6/4.png">
            </div>

            <div class="content">

              <a class="header">Zen Tang</a>
            </div>

            <div class="extra content">
              售價 $650 港幣
            </div>
          </div>
        </div>

      </div>

    </div>

    <div slot="sc">
      <img src="/static/images/news/sprayground/6/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        Sprayground自2010年创立以来，一直为大家带来以与别不同的背包的宗旨，势要打破传统背包的款式。故此，每一次Sprayground都为大家设计不少玩味十足的背包，更与不少动漫合作，推出限量背包。今次，Sprayground再次大胆加入新元素，注入亚洲元素，以阴阳为最新背包的主题。
      </p>

      <p>
        Spragyround是此推出的阴阳系列共有三款，分别名为Yin Yang Shark、Yin Yang Wings和Zen Tang，各自带有不同的阴阳元素。 Yin Yang Shark以Sprayground经典鲨鱼衬上阴阳的黑白两色及加了八卦在其中，表现了阴阳当中的平衡之道。而Yin Yang Shark 则以阴阳当中的神兽为背包图案同时配上黑白两色，别具神气，更配搭了Sprayground 的飞翼特色，异常吻合神兽们的意景。另外，Zen Tang 则走较为简单的道线，全黑的背包加上阴阳八卦，别有一番风味，更能感受到当中的亚洲文化。此外，三个背包亦包括不少小格，方便摆放各种物品，让人爱不释手。
      </p>

      <p>
        Sprayground最新阴阳系列，以Sprayground的特色配合阴阳思想及图案，特别之余亦异常吻合，想必能引起爱袋之人的注意。
      </p>

      <div class="ui stackable three column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/6/2.png">
            </div>

            <div class="content">

              <a class="header">Yin Yang Shark</a>
            </div>

            <div class="extra content">
              售价 $800 港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/6/3.png">
            </div>

            <div class="content">

              <a class="header">Ying Yang Wings</a>
            </div>

            <div class="extra content">
              售价 $800 港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/6/4.png">
            </div>

            <div class="content">

              <a class="header">Zen Tang</a>
            </div>

            <div class="extra content">
              售价 $650 港币
            </div>
          </div>
        </div>

      </div>

    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Sprayground注入亞洲元素 - 平衡之道',
        tc: 'Sprayground注入亞洲元素 - 平衡之道',
        sc: 'Sprayground注入亚洲元素 - 平衡之道'
      }
    }
  }
}
</script>

<style scoped>

</style>
