<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/sprayground/7/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        秋風已漸起，平時出外已經需要添上薄外衣或需穿上長袖的衣物，相信各位好動之人亦慢慢從各種水上活動，逐漸轉移向陸上發展，行山、露營或是野餐的意慾亦隨之蔓延。陸上活動最基本的裝備想必是背包，Sprayground 早已為你準備，讓人輕鬆活動去。
      </p>

      <p>
        Sprayground 為秋天而設的背包以軍綠為主題，配合秋天戶外活動的特質，再襯上不同的元素為背包增添色彩。是次的軍綠背包主題共有兩款，分別為 Gold Camo Drip Wings 和 Gold Stencil Shark Camo。除了軍綠為背包主題外，兩款背包亦襯上不同圖案的金色，讓背包更為特出。當中，Gold Camo Drip Wings以金色的水滴在背包的側面顯現，以液態的感覺顯示出來，彷如金色的水一滴滴的落下。同時，襯上Sprayground的經典飛翼，整個背包吸引力十足。另外，Gold Stencil Shark Camo則襯上Sprayground另一經典的鯊魚口，更以金色展現，異常搶眼。兩款軍綠背包各有味道，適合不同的戶活動。
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/7/2.png">
            </div>

            <div class="content">

              <a class="header">Gold Camo Drip Wings</a>
            </div>

            <div class="extra content">
              售價 $800 港幣
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/7/3.png">
            </div>

            <div class="content">

              <a class="header">Gold Stencil Shark Camo</a>
            </div>

            <div class="extra content">
              售價 $800 港幣
            </div>
          </div>
        </div>

      </div>

    </div>

    <div slot="sc">
      <img src="/static/images/news/sprayground/7/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        秋风已渐起，平时出外已经需要添上薄外衣或需穿上长袖的衣物，相信各位好动之人亦慢慢从各种水上活动，逐渐转移向陆上发展，行山、露营或是野餐的意欲亦随之蔓延。陆上活动最基本的装备想必是背包，Sprayground 早已为你准备，让人轻松活动去。
      </p>

      <p>
        Sprayground 为秋天而设的背包以军绿为主题，配合秋天户外活动的特质，再衬上不同的元素为背包增添色彩。是次的军绿背包主题共有两款，分别为 Gold Camo Drip Wings 和 Gold Stencil Shark Camo。除了军绿为背包主题外，两款背包亦衬上不同图案的金色，让背包更为特出。当中，Gold Camo Drip Wings以金色的水滴在背包的侧面显现，以液态的感觉显示出来，仿如金色的水一滴滴的落下。同时，衬上Sprayground的经典飞翼，整个背包吸引力十足。另外，Gold Stencil Shark Camo则衬上Sprayground另一经典的鲨鱼口，更以金色展现，异常抢眼。两款军绿背包各有味道，适合不同的户活动。
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/7/2.png">
            </div>

            <div class="content">

              <a class="header">Gold Camo Drip Wings</a>
            </div>

            <div class="extra content">
              售价 $800 港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/7/3.png">
            </div>

            <div class="content">

              <a class="header">Gold Stencil Shark Camo</a>
            </div>

            <div class="extra content">
              售价 $800 港币
            </div>
          </div>
        </div>

      </div>

    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '秋風起 登山露營好時機',
        tc: '秋風起 登山露營好時機',
        sc: '秋风起 登山露营好时机'
      }
    }
  }
}
</script>

<style scoped>

</style>
