<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/sprayground/8/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        轉眼之間，已經來到一年中的尾聲，天氣亦逐漸變冷，慢慢踏入冬季。說到冬季，又怎能少了一件有型但又保暖的大褸。Sprayground 於每年的冬季均會推出特別版的大褸，讓一眾粉絲於冬季能溫暖渡過。今年冬天，Sprayground 更特意準備了同系列的大褸與背包，務求讓粉絲們型過冬季。
      </p>

      <p>
        Sprayground 為粉絲們準備的特別版冬季大褸及背包系列以軍綠為主題，大褸襯上經典的鯊魚嘴，鯊魚嘴更配以金色，異常搶眼。除了型格的外表，大褸的內在亦不容小覷，以最輕的鵝絨為物料，以其卓越的隔熱能力，為穿著者提供溫暖，而且十分透氣，不會有侷促的感覺。此外，鵝絨擁有極佳的彈性，即使被壓亦能回復原狀，不用怕會變形。大褸更有隱藏式的口袋，方便收納小物件。另外，與大褸一同推出的軍綠背包亦有其特別之處，背包同樣以軍綠襯上金色的鯊魚嘴，而除此之外，其實它是一個兩用袋。除了可作為背包使用，遙身一變更能成為行李袋，方便一眾愛好運動的朋友，亦能配合不同活動改變背包用途。
      </p>

      <p>
        想抵抗冬季嚴寒又不失型格？Sprayground的特別版大褸及背包便是最好的冬季伴侶。
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/8/2.png">
            </div>

            <div class="content">

              <a class="header">Gold Stencil Shark Parka</a>
            </div>

            <div class="extra content">
              售價 $3950 港幣
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/8/3.png">
            </div>

            <div class="content">

              <a class="header">Gold Stencil Duffpack Shark</a>
            </div>

            <div class="extra content">
              售價 $850 港幣
            </div>
          </div>
        </div>

      </div>

    </div>

    <div slot="sc">
      <img src="/static/images/news/sprayground/8/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        转眼之间，已经来到一年中的尾声，天气亦逐渐变冷，慢慢踏入冬季。说到冬季，又怎能少了一件有型，但又保暖的大褛。Sprayground于每年的冬季均会推出特别版的大褛，让一众粉丝于冬季能温暖渡过。今年冬天，Sprayground更特意准备了同系列的大外壳与背包，务求让粉丝们过去冬季。
      </p>

      <p>
        Sprayground为粉丝们准备的特别版冬季大褛及背包系列以军绿为主题，大衣装上经典的鲨鱼嘴，鲨鱼嘴更配以金色，异常抢眼。除了型格的外表，大褛的内在亦不容小觑，以最轻的鹅绒为物料，以其卓越的隔热能力，为穿着者提供温暖，而且十分透气，不会有局促的感觉。此外，鹅绒拥有极佳的弹性，即使被压亦能回复原状，不用怕会变形。大褛更有隐藏式的口袋，方便收纳小物件。另外，与大褛一同推出的军绿背包亦有其特别之处，背包同样以军绿衬上金色的鲨鱼嘴，而除此之外，其实它是一个两用袋。除了可作为背包使用，遥身一变更能成为行李袋，方便一众爱好运动的朋友，亦能配合不同活动改变背包用途。
      </p>

      <p>
        想抵抗冬季严寒又不失型格？Sprayground的特别版大褛及背包便是最好的冬季伴侣。
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/8/2.png">
            </div>

            <div class="content">

              <a class="header">Gold Stencil Shark Parka</a>
            </div>

            <div class="extra content">
              售价 $3950 港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/8/3.png">
            </div>

            <div class="content">

              <a class="header">Gold Stencil Duffpack Shark</a>
            </div>

            <div class="extra content">
              售价 $850 港币
            </div>
          </div>
        </div>

      </div>

    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '冬季好伴侶 Sprayground特別版型格大褸及背包',
        tc: '冬季好伴侶 Sprayground特別版型格大褸及背包',
        sc: '冬季好伴侣 Sprayground特别版型格大褛及背包'
      }
    }
  }
}
</script>

<style scoped>

</style>
