<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/sprayground/9/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        新一年開始，當然要準備新事物，以創意為品牌宗旨的Sprayground 當然會為大家帶來別開新面的背包，以另類的設計吸引大家眼球，在全新一年成為矚目焦點，和大家一同成為最新潮人！
      </p>

      <p>
        Sprayground 全新一年推出的背包以速遞為主題的款式，以兩間美國速遞公司為藍圖設計了兩款背包，分別名為SUP Shipping Management 和United Sharks Package Service。SUP Shipping Management以啡色為背包主要顏色，在中央襯上SUP logo，彷如某知名國際速遞公司一樣。而另一款背包United Sharks Package Service。SUP Shipping Management則以美國本土郵寄公司為設計靈感，以藍色為背包主色，襯上尤如鯊魚的logo，既有Sprayground 的神韻又有郵寄公司的特色在內，更特顯來自美國的Sprayground。此外，兩個背包亦一如Sprayground 背包的特色附有小格，方便用家擺放細小的物件，有創意之餘亦不失細心。
      </p>

      <p>
        新一年帶上全新的背包，啟開一年的路程！
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/9/2.png">
            </div>

            <div class="content">

              <a class="header">SUP Shipping Management</a>
            </div>

            <div class="extra content">
              售價 $800 港幣
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/9/3.png">
            </div>

            <div class="content">

              <a class="header">United Sharks Package Service</a>
            </div>

            <div class="extra content">
              售價 $800 港幣
            </div>
          </div>
        </div>

      </div>

    </div>

    <div slot="sc">
      <img src="/static/images/news/sprayground/9/1.jpg" class="ui centered large bordered image">
      <br>

      <p>
        新一年开始，当然要准备新事物，以创意为品牌宗旨的Sprayground 当然会为大家带来别开新面的背包，以另类的设计吸引大家眼球，在全新一年成为瞩目焦点，和大家一同成为最新潮人！
      </p>

      <p>
        Sprayground 全新一年推出的背包以速递为主题的款式，以两间美国速递公司为蓝图设计了两款背包，分别名为SUP Shipping Management 和United Sharks Package Service。 SUP Shipping Management以啡色为背包主要颜色，在中央衬上SUP logo，仿如某知名国际速递公司一样。而另一款背包United Sharks Package Service。 SUP Shipping Management则以美国本土邮寄公司为设计灵感，以蓝色为背包主色，衬上尤如鲨鱼的logo，既有Sprayground 的神韵又有邮寄公司的特色在内，更特显来自美国的Sprayground 。此外，两个背包亦一如Sprayground 背包的特色附有小格，方便用家摆放细小的物件，有创意之余亦不失细心。
      </p>

      <p>
        新一年带上全新的背包，启开一年的路程！
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/9/2.png">
            </div>

            <div class="content">

              <a class="header">SUP Shipping Management</a>
            </div>

            <div class="extra content">
              售价 $800 港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/sprayground/9/3.png">
            </div>

            <div class="content">

              <a class="header">United Sharks Package Service</a>
            </div>

            <div class="extra content">
              售价 $800 港币
            </div>
          </div>
        </div>

      </div>

    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Sprayground 另類創意 速遞背包',
        tc: 'Sprayground 另類創意 速遞背包',
        sc: 'Sprayground 另类创意 速递背包'
      }
    }
  }
}
</script>

<style scoped>

</style>
