<template>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <h4 class="ui header">
          <breadcrumb brand-name='Creative Recreation'></breadcrumb>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3 class="ui header">
          {{ $t('about_creative_recreation.title') }}
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <slideshow :images='images'></slideshow>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <justified-content>
          <div v-html="$t('about_creative_recreation.description')"></div>
        </justified-content>
      </div>
    </div>

  </div>
</template>

<script>
import Breadcrumb from '@/components/brands/Breadcrumb'
import Slideshow from '@/components/brands/Slideshow'
import JustifiedContent from '@/components/common/JustifiedContent'

export default {
  name: 'creative-recreation',

  components: {
    Breadcrumb,
    Slideshow,
    JustifiedContent
  },

  data() {
    return {
      'images': [
        { path: 'creative_recreation/1.jpg' },
        { path: 'creative_recreation/2.jpg' },
        { path: 'creative_recreation/3.jpg' },
        { path: 'creative_recreation/4.jpg' },
        { path: 'creative_recreation/5.jpg' }
      ]
    }
  }
}
</script>

<style scoped>

</style>
