<template>
  <div class="ui justified grid">
    <div class="row">
      <div class="column">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'justified-content'
}
</script>

<style>
