<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/1/1.jpg" class="ui centered medium bordered image">

      <div class="ui divider hidden"></div>

      <p>
        近年韓風深受年輕人們追捧，而時尚界則捲起純白鞋履的熱潮，至今更絲毫未有減退的跡象。創立於1933年的Lacoste，一直崇尚簡約自然，而當中白色鞋履更是品牌的拿手好戲。
      </p>

      <p>
        Lacoste於新一季增添新成員，推出富有法式簡約味道的LT SPIRIT ELITE。LT SPIRIT ELITE外觀一如Lacoste以往的設計簡潔乾淨，以品牌經典綠色鱷魚logo配上白色透氣網層鞋身，透氣及輕便度同時大增，穿上後更帶來舒適的感覺，踏出的每一步都能釋放腳掌的壓力。另外，LT SPIRIT ELITE於鞋履的尾部亦襯上品牌的經典綠色，為鞋履增添吸晴之處，把品質與美觀完美結合，彰顯品味。此外，LT SPIRIT ELITE除了純白色外，亦同時具有神秘的黑色，黑色的LT SPIRIT ELITE鞋身配襯了兩種不同深淺度的黑色，使沉悶的黑色增加可觀性，亦讓男士們除了純色系外多一種選擇。
      </p>

      <p>
        Lacoste 2017年最新鞋款，充滿視覺審美與靈感美學的鞋履，男士們穿上後定必令人眼前一亮。
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/1/3.jpg">
            </div>
            <div class="content">
              <a class="header">LS SPIRIT ELITE - 白色</a>
            </div>
            <div class="extra content">
              售價$1,050港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/1/2.jpg">
            </div>
            <div class="content">
              <a class="header">LS SPIRIT ELITE - 黑色</a>
            </div>
            <div class="extra content">
              售價$1,050港幣
            </div>
          </div>
        </div>

      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/lacoste/1/1.jpg" class="ui centered medium bordered image">

      <div class="ui divider hidden"></div>

      <p>
        近年韩风深受年轻人们追捧，而时尚界则卷起纯白鞋履的热潮，至今更丝毫未有减退的迹象。创立于1933年的Lacoste，一直崇尚简约自然，而当中白色鞋履更是品牌的拿手好戏。
      </p>

      <p>
        Lacoste于新一季增添新成员，推出富有法式简约味道的LT SPIRIT ELITE。 LT SPIRIT ELITE外观一如Lacoste以往的设计简洁干净，以品牌经典绿色鳄鱼logo配上白色透气网层鞋身，透气及轻便度同时大增，穿上后更带来舒适的感觉，踏出的每一步都能释放脚掌的压力。另外，LT SPIRIT ELITE于鞋履的尾部亦衬上品牌的经典绿色，为鞋履增添吸晴之处，把品质与美观完美结合，彰显品味。此外，LT SPIRIT ELITE除了纯白色外，亦同时具有神秘的黑色，黑色的LT SPIRIT ELITE鞋身配衬了两种不同深浅度的黑色，使沉闷的黑色增加可观性，亦让男士们除了纯色系外多一种选择。
      </p>

      <p>
        Lacoste 2017年最新鞋款，充满视觉审美与灵感美学的鞋履，男士们穿上后定必令人眼前一亮。
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/lacoste/1/3.jpg">
            </div>

            <div class="content">

              <a class="header">LS SPIRIT ELITE - 白色</a>
            </div>

            <div class="extra content">
              售价$1,050港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/lacoste/1/2.jpg">
            </div>

            <div class="content">

              <a class="header">LS SPIRIT ELITE - 黑色</a>
            </div>

            <div class="extra content">
              售价$1,050港币
            </div>
          </div>
        </div>

      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Lacoste SS17 全新鞋款 黑白兩鱷',
        tc: 'Lacoste SS17 全新鞋款 黑白兩鱷',
        sc: 'Lacoste SS17 全新鞋款 黑白两鳄'
      }
    }
  }
}
</script>

<style scoped>

</style>
