<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/10/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        踏入夏天，不論男女都要為自己增添新衣服，鞋履的配塔往往是穿搭成功與否的關鍵。
      </p>

      <p>
        男生多以簡約為主調，常常都是黑白灰的配塔，但Lacoste教懂了我們，原本最簡單的黑白灰只要加點點綴便能大放異彩。
      </p>

      <p>
        夏日炎炎，人們都會以淺色系為主，打做簡潔的造型。早前大熱的全白色鞋，相信人人都經已有一至兩對放在家，如何讓簡潔的造型帶來色彩？Lacoste帶著品牌的元素，加上啡色後跟和牛仔布顏色來襯托出品牌logo，以簡單的線條為純白色的鞋增添年青的氣息，更將它名為Fairlead。
      </p>

      <p>
        Lacoste的每款鞋履都有一個屬於它的名字，就如我們一樣，每個人都有他們本身的性格，都是獨一無二的。
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/10/2.png">
            </div>
            <div class="content">
              <a class="header">Fairlead</a>
            </div>
            <div class="extra content">
              售價 $850 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/10/3.png">
            </div>
            <div class="content">
              <a class="header">Fairlead</a>
            </div>
            <div class="extra content">
              售價 $850 港幣
            </div>
          </div>
        </div>

      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/lacoste/10/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        踏入夏天，不论男女都要为自己增添新衣服，鞋履的配塔往往是穿搭成功与否的关键。
      </p>

      <p>
        男生多以简约为主调，常常都是黑白灰的配塔，但Lacoste教懂了我们，原本最简单的黑白灰只要加点点缀便能大放异彩。
      </p>

      <p>
        夏日炎炎，人们都会以浅色系为主，打做简洁的造型。早前大热的全白色鞋，相信人人都经已有一至两对放在家，如何让简洁的造型带来色彩？ Lacoste带着品牌的元素，加上啡色后跟和牛仔布颜色来衬托出品牌logo，以简单的线条为纯白色的鞋增添年青的气息，更将它名为Fairlead。
      </p>

      <p>
        Lacoste的每款鞋履都有一个属于它的名字，就如我们一样，每个人都有他们本身的性格，都是独一无二的。
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/10/2.png">
            </div>
            <div class="content">
              <a class="header">Fairlead</a>
            </div>
            <div class="extra content">
              售价 $850 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/10/3.png">
            </div>
            <div class="content">
              <a class="header">Fairlead</a>
            </div>
            <div class="extra content">
              售价 $850 港币
            </div>
          </div>
        </div>

      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '經典變革',
        tc: '經典變革',
        sc: '经典变革'
      }
    }
  }
}
</script>

<style scoped>

</style>
