<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/2/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        數到今年最受歡迎的鞋款之一，懶人鞋絕對佔當中一席位，其熱潮一直未有減退，更是時下年青人的must buy item，成為看門之選。貴為法國經典品牌的Lacoste 亦看準熱潮，推出以slip on 為基礎的Rochelle。
      </p>

      <p>
        Rochelle 結合品牌傳統低調的品味，共有兩種顏色，其中一種以淺灰作鞋履前身的顏色，於鞋踭位置襯上經典白色，另一種則以藍色為鞋履前部分的顏色襯上鞋踭的淡灰色，兩種不同的顏色襯法也極為吻合，尤如兩者融於一體，另外亦於鞋跟上襯上同色系的經典鱷魚logo，使人感覺柔和舒服。此外，流線形的鞋身，令整對鞋感覺更為一致，而當中的slip on 鞋頭向腳掌延伸有別於一般的slip on，亦且其特色之處。Rochelle除了外表吸引，內在亦使用了優質皮革，鞋底使用的防滑橡膠底增加其實用性，使穿著者不但能彰顯其品味，亦能舒適的踏上每一步的人生道路。
      </p>

      <p>
        Lacoste如此特別的slip on鞋款，包含了s視覺審美與靈感美學，女士們穿上後定必令人眼前一亮。
      </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/2/2.jpg">
            </div>
            <div class="content">
              <a class="header">Rochelle Slip -淺灰</a>
            </div>
            <div class="extra content">
              售價$1,450港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/2/3.jpg">
            </div>
            <div class="content">
              <a class="header">Rochelle Slip -藍色</a>
            </div>
            <div class="extra content">
              售價$1,450港幣
            </div>
          </div>
        </div>

      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/lacoste/2/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        数到今年最受欢迎的鞋款之一，懒人鞋绝对占当中一席位，其热潮一直未有减退，更是时下年青人的must buy item，成为看门之选。贵为法国经典品牌的Lacoste 亦看准热潮，推出以slip on 为基础的Rochelle。
      </p>

      <p>
        Rochelle 结合品牌传统低调的品味，共有两种颜色，其中一种以浅灰作鞋履前身的颜色，于鞋踭位置衬上经典白色，另一种则以蓝色为鞋履前部分的颜色衬上鞋踭的淡灰色，两种不同的颜色衬法也极为吻合，尤如两者融于一体，另外亦于鞋跟上衬上同色系的经典鳄鱼logo，使人感觉柔和舒服。此外，流线形的鞋身，令整对鞋感觉更为一致，而当中的slip on 鞋头向脚掌延伸有别于一般的slip on，亦且其特色之处。 Rochelle除了外表吸引，内在亦使用了优质皮革，鞋底使用的防滑橡胶底增加其实用性，使穿著者不但能彰显其品味，亦能舒适的踏上每一步的人生道路。
      </p>

      <p>
        Lacoste如此特别的slip on鞋款，包含了s视觉审美与灵感美学，女士们穿上后定必令人眼前一亮。
      </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/lacoste/2/2.jpg">
            </div>

            <div class="content">

              <a class="header">Rochelle Slip -浅灰</a>
            </div>

            <div class="extra content">
              售价$1,450港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">

              <img src="/static/images/news/lacoste/2/3.jpg">
            </div>

            <div class="content">

              <a class="header">Rochelle Slip -蓝色</a>
            </div>

            <div class="extra content">
              售价$1,450港币
            </div>
          </div>
        </div>

      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Lacoste Slip on之蛻變',
        tc: 'Lacoste Slip on之蛻變',
        sc: 'Lacoste Slip on之蜕变'
      }
    }
  }
}
</script>

<style scoped>

</style>
