<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/3/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        暑假來臨，各種五顏六色的衣飾也紛紛出籠，迎接夏天，在這個美好的時光爭妍鬥麗。可是，假若身上有太多不同顏色的配搭，有時未免顯得有點俗氣，此時最好用一對簡約的鞋履平衝整個造型。Lacoste 一直以來以簡單且耐看的款式吸引大眾，當中的白色鞋履更是大家的心水之選，最適合配搭各種造型。
      </p>

      <p>
        白色適合配搭不同造型，亦能幫整個造型點駁，Lacoste 一直深明這個道理，品牌一直以來推出不同款式的白色鞋履打動大家，而且在夏天更需要白色來襯出各種風格，Lacoste 早已預備鞋款Carnaby和大家共渡暑假。Carnaby貫切Lacoste的DNA特質，將同色經典鱷魚logo印在鞋身上。同時，白色的鞋身壓上了鱷魚紋，在簡單中見其獨特之虛。此外，為增加舒適感及透氣度，Lacoste更細心地在鞋邊增添小洞，讓大家穿得更為舒適。
      </p>

      <p>
        以白色鞋履聞名世界的Lacoste推出全新鱷魚紋鞋款，大家又怎能錯過？
      </p>

      <div class="ui stackable column grid">
        <div class="column">
          <div class="ui centered card">
            <div class="image">
              <img src="/static/images/news/lacoste/3/2.jpg">
            </div>
            <div class="content">
              <a class="header">Carnaby EVO</a>
            </div>
            <div class="extra content">
              售價$850港幣
            </div>
          </div>
        </div>
      </div>
    </div>

    <div slot="sc">

      <img src="/static/images/news/lacoste/3/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        暑假来临，各种五颜六色的衣饰也纷纷出笼，迎接夏天，在这个美好的时光争妍斗丽。可是，假若身上有太多不同颜色的配搭，有时未免显得有点俗气，此时最好用一对简约的鞋履平冲整个造型。 Lacoste 一直以来以简单且耐看的款式吸引大众，当中的白色鞋履更是大家的心水之选，最适合配搭各种造型。
      </p>


      <p>
        白色适合配搭不同造型，亦能帮整个造型点驳，Lacoste 一直深明这个道理，品牌一直以来推出不同款式的白色鞋履打动大家，而且在夏天更需要白色来衬出各种风格，Lacoste 早已预备鞋款Carnaby和大家共渡暑假。 Carnaby贯切Lacoste的DNA特质，将同色经典鳄鱼logo印在鞋身上。同时，白色的鞋身压上了鳄鱼纹，在简单中见其独特之虚。此外，为增加舒适感及透气度，Lacoste更细心地在鞋边增添小洞，让大家穿得更为舒适。
      </p>


      <p>
        以白色鞋履闻名世界的Lacoste推出全新鳄鱼纹鞋款，大家又怎能错过？
      </p>


      <div class="ui stackable column grid">

        <div class="column">

          <div class="ui centered card">

            <div class="image">

              <img src="/static/images/news/lacoste/3/2.jpg">
            </div>

            <div class="content">

              <a class="header">Carnaby EVO</a>
              </div>

            <div class="extra content">
              售价$850港币
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Lacoste 經典白鞋 夏日的配搭好伴侶',
        tc: 'Lacoste 經典白鞋 夏日的配搭好伴侶',
        sc: 'Lacoste 经典白鞋 夏日的配搭好伴侣'
      }
    }
  }
}
</script>

<style scoped>

</style>
