<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/4/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        經典法國品牌Lacoste始於1933年，由發源人"Rene Lacoste" 所創立。當年，Rene Lacoste是20年代最最矚目的網球選手，創造了7次全球網球比賽連勝的紀錄，更是1926年和1927年的全球網球總冠軍。因此，當時被人稱為"網球場上的鱷魚"，品牌的logo 亦由此而來。而自1933年起，Lacoste 本著以超越時尚與潮流，致力成為不受時間所約束為品牌的宗旨。憑著品牌的堅持，並以其優越的品質和優雅的設計，成就今天國際知名的品牌。
      </p>

      <p>
        經過一百年的時代變遷，Lacoste至今仍然迄立不倒，且不斷發展，成為不少人心中的至愛品牌之一。為求更進一步，Lacoste在夏天快要過去的時候隆重推出全新鞋款Eyyla。Eyyla 鞋款以搶眼的銀色為鞋履全身的顏色，吸晴之餘最適合夏天使用，銀色的鞋身上亦印上同色的經典鱷魚logo，更在鞋的尾端配上一排小洞，時尚感倍增之餘同時增加鞋履的透氣度，貫切品牌低調奢華的精神。Eyyla除了擁有優越的外在，內在亦不容忽視，上乘的剪裁，務求貼近腳形，穿上後突然優點所在，而底部亦採用橡膠質地，令鞋履本身的支撐度大大增加，穿上後異常舒適，讓女士們走過舒適的每一步。
      </p>

      <div class="ui stackable column grid">
        <div class="column">
          <div class="ui centered card">
            <div class="image">
              <img src="/static/images/news/lacoste/4/2.jpg">
            </div>
            <div class="content">
              <a class="header">Eyyla</a>
            </div>
            <div class="extra content">
              售價$1050港幣
            </div>
          </div>
        </div>
      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/lacoste/4/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        经典法国品牌Lacoste始于1933年，由发源人"Rene Lacoste" 所创立。当年，Rene Lacoste是20年代最最瞩目的网球选手，创造了7次全球网球比赛连胜的纪录，更是1926年和1927年的全球网球总冠军。因此，当时被人称为"网球场上的鳄鱼"，品牌的logo 亦由此而来。而自1933年起，Lacoste 本着以超越时尚与潮流，致力成为不受时间所约束为品牌的宗旨。凭着品牌的坚持，并以其优越的品质和优雅的设计，成就今天国际知名的品牌。
      </p>

      <p>
        经过一百年的时代变迁，Lacoste至今仍然迄立不倒，且不断发展，成为不少人心中的至爱品牌之一。为求更进一步，Lacoste在夏天快要过去的时候隆重推出全新鞋款Eyyla。 Eyyla 鞋款以抢眼的银色为鞋履全身的颜色，吸晴之余最适合夏天使用，银色的鞋身上亦印上同色的经典鳄鱼logo，更在鞋的尾端配上一排小洞，时尚感倍增之余同时增加鞋履的透气度，贯切品牌低调奢华的精神。 Eyyla除了拥有优越的外在，内在亦不容忽视，上乘的剪裁，务求贴近脚形，穿上后突然优点所在，而底部亦采用橡胶质地，令鞋履本身的支撑度大大增加，穿上后异常舒适，让女士们走过舒适的每一步。
      </p>

      <div class="ui stackable column grid">

        <div class="column">

          <div class="ui centered card">

            <div class="image">
              <img src="/static/images/news/lacoste/4/2.jpg">
            </div>

            <div class="content">

              <a class="header">Eyyla</a>
            </div>

            <div class="extra content">
              售价$1050港币
            </div>
          </div>
        </div>
      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Lacoste奪目之銀',
        tc: 'Lacoste奪目之銀',
        sc: 'Lacoste夺目之银'
      }
    }
  }
}
</script>

<style scoped>

</style>
