<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/5/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        法國品牌Lacoste 自1933年成立以來，以簡約時尚為品牌的宗旨，不怕時間的洗禮，無懼歲月的變化，打破時間的束縛，創作出無數對經典鞋履，而且時尚與實用兼備。故此，Lacoste 一直在大家心中佔一席位，成為不少人的愛好品牌之一。
      </p>

      <p>
        Lacoste 經歷近百年之久，推出了不少經典款式，吸引不少粉絲搶購，令品牌至今仍迄立不倒，而Lacoste 仍不斷尋求進步，將最好的鞋款帶給大家，更於今個初秋推出全新鞋款Explorateur Sport。Explorateur Sport共有兩款顏色，分別為海軍藍及純白為鞋履顏色，而海軍藍為主色的Explorateur Sport在鞋邊襯上搶眼的黃色及於鞋身配上經典的綠色鱷魚logo，另外的純白Explorateur Sport則於鞋邊配上Lacoste 經典綠，鞋履兩種顏色的配搭使整對鞋履更為亮眼。鞋履的物料則採用透氣的網料配合優質的皮革，使鞋履更為輕身舒服，亦不失優雅之感，表現出男士們的紳士氣息。
      </p>

      <p>Lacoste 最新推出Explorateur Sport勢必引起男士們愛鞋之心。</p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/5/2.jpg">
            </div>
            <div class="content">
              <a class="header">Explorateur Sport – Navy</a>
            </div>
            <div class="extra content">
              售價$950港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/5/3.jpg">
            </div>
            <div class="content">
              <a class="header">Explorateur Sport – White</a>
            </div>
            <div class="extra content">
              售價$950港幣
            </div>
          </div>
        </div>

      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/lacoste/5/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        法国品牌Lacoste 自1933年成立以来，以简约时尚为品牌的宗旨，不怕时间的洗礼，无惧岁月的变化，打破时间的束缚，创作出无数对经典鞋履，而且时尚与实用兼备。故此，Lacoste 一直在大家心中占一席位，成为不少人的爱好品牌之一。
      </p>

      <p>
        Lacoste 经历近百年之久，推出了不少经典款式，吸引不少粉丝抢购，令品牌至今仍迄立不倒，而Lacoste 仍不断寻求进步，将最好的鞋款带给大家，更于今个初秋推出全新鞋款Explorateur Sport。 Explorateur Sport共有两款颜色，分别为海军蓝及纯白为鞋履颜色，而海军蓝为主色的Explorateur Sport在鞋边衬上抢眼的黄色及于鞋身配上经典的绿色鳄鱼logo，另外的纯白Explorateur Sport则于鞋边配上Lacoste 经典绿，鞋履两种颜色的配搭使整对鞋履更为亮眼。鞋履的物料则采用透气的网料配合优质的皮革，使鞋履更为轻身舒服，亦不失优雅之感，表现出男士们的绅士气息。
      </p>

      <p>Lacoste 最新推出Explorateur Sport势必引起男士们爱鞋之心。 </p>

      <div class="ui stackable two column grid">

        <div class="column">

          <div class="ui fluid card">

            <div class="image">
              <img src="/static/images/news/lacoste/5/2.jpg">
            </div>

            <div class="content">

              <a class="header">Explorateur Sport – Navy</a>
            </div>

            <div class="extra content">
              售价$950港币
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui fluid card">

            <div class="image">
              <img src="/static/images/news/lacoste/5/3.jpg">
            </div>

            <div class="content">

              <a class="header">Explorateur Sport – White</a>
            </div>

            <div class="extra content">
              售价$950港币
            </div>
          </div>
        </div>

      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Lacoste最新亮眼鞋款Explorateur Sport',
        tc: 'Lacoste最新亮眼鞋款Explorateur Sport',
        sc: 'Lacoste最新亮眼鞋款Explorateur Sport'
      }
    }
  }
}
</script>

<style scoped>

</style>
