<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/6/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        Lacoste創辦人René Lacoste當年以「網球場上的鱷魚」為始成立了品牌，品牌成立以來一直以簡約時尚為品牌的宗旨。數十年過去，Lacoste 的每一款鞋履仍從René Lacoste的設計精髓中汲取靈感，繼承其城市生活風格及冒險精神。
      </p>

      <p>
        來到秋天，Lacoste 隆重推出全新鞋款Chaumont Lace。Chaumont Lace以LACOSTE簡潔幹練的風格和女性化流線型輪廓結合為一。故此，外型簡約時尚，且能於不同時間及場合穿上，同時不失女性高雅能幹的一面。Chaumont Lace 的鞋面使用創新的無縫粘合技術，同時注重鞋頭和鞋腰處的線條設計，擁有流暢鞋型之餘，能讓鞋款穿著時間更久更舒適。此外，Chaumont Lace參考了網球科技型網眼面料的質料讓鞋款更為柔軟舒適以及更優秀的透氣性。Chaumont Lace當然亦是LACOSTE精神的極致體現。加厚襯裡以及現時大熱的玫瑰金於鞋邊，獨特的剪裁使人充滿自信。
      </p>

      <p>Chaumont Lace作為秋季全新推出的女裝鞋履，簡約中散發著LACOSTE獨有的法式時尚。</p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/6/2.jpg">
            </div>
            <div class="content">
              <a class="header">Chaumont Lace – White</a>
            </div>
            <div class="extra content">
              售價 $1000 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/6/3.jpg">
            </div>
            <div class="content">
              <a class="header">Explorateur Sport – White</a>
            </div>
            <div class="extra content">
              售價 $1000 港幣
            </div>
          </div>
        </div>

      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/lacoste/6/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        Lacoste创办人René Lacoste当年以「网球场上的鳄鱼」为始成立了品牌，品牌成立以来一直以简约时尚为品牌的宗旨。数十年过去，Lacoste 的每一款鞋履仍从René Lacoste的设计精髓中汲取灵感，继承其城市生活风格及冒险精神。
      </p>

      <p>
        来到秋天，Lacoste 隆重推出全新鞋款Chaumont Lace。 Chaumont Lace以LACOSTE简洁干练的风格和女性化流线型轮廓结合为一。故此，外型简约时尚，且能于不同时间及场合穿上，同时不失女性高雅能干的一面。 Chaumont Lace 的鞋面使用创新的无缝粘合技术，同时注重鞋头和鞋腰处的线条设计，拥有流畅鞋型之余，能让鞋款穿着时间更久更舒适。此外，Chaumont Lace参考了网球科技型网眼面料的质料让鞋款更为柔软舒适以及更优秀的透气性。 Chaumont Lace当然亦是LACOSTE精神的极致体现。加厚衬里以及现时大热的玫瑰金于鞋边，独特的剪裁使人充满自信。
      </p>

      <p>Chaumont Lace作为秋季全新推出的女装鞋履​​，简约中散发着LACOSTE独有的法式时尚。</p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/6/2.jpg">
            </div>
            <div class="content">
              <a class="header">Chaumont Lace – White</a>
            </div>
            <div class="extra content">
              售价 $1000 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/6/3.jpg">
            </div>
            <div class="content">
              <a class="header">Explorateur Sport – White</a>
            </div>
            <div class="extra content">
              售价 $1000 港币
            </div>
          </div>
        </div>

      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Lacoste最新秋裝 Chaumont 法式時尚',
        tc: 'Lacoste最新秋裝 Chaumont 法式時尚',
        sc: 'Lacoste最新秋装 Chaumont 法式时尚'
      }
    }
  }
}
</script>

<style scoped>

</style>
