<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/7/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        長大後，穿上各式各樣的鞋履，款式新穎顏色多變。但，閒時看到學生們，又有否想起在昔日的運動場上那對魔術貼白球鞋呢？這對魔術貼球鞋想當年是學生們的必備鞋款。想不到這個「兒時回憶」，在新一季成為讓大家趨之若鶩的潮鞋，Lacoste亦和大家一同尋找這個兒時回憶，重回魔術貼球鞋的懷抱。
      </p>

      <p>
        Lacoste 在新一季的鞋履當中特別推出魔術貼鞋款Straightset Strap，和大家一同回到兒時回憶當中，更吻合現今潮流所向。Lacoste 貴為簡約主義的代表，全新設計的魔術貼款式亦配合品牌的DNA，延續其一貫的簡約風格。Straightset Strap分別有Lacoste 的經典白及淡灰色，鞋履均是單一的純色外型，格外簡潔，配上加寬的兩間魔術貼設計，在腳踭上壓上Lacoste 的經典鱷魚logo，整對鞋履感覺極為連貫一致，更正是現在大熱的鞋履款式！此外，魔術貼鞋履穿著簡單，不用綁鞋帶直接套在腳上便可，簡直是懶人們的福音。而且鞋面的魔術貼，可以把鞋牢牢地套在腳上，不像普通slip on般容易脫落，跑跑跳跳都無問題。
      </p>

      <p>無論如何，全新鞋的Lacoste 魔術貼鞋履有否再次打動你的芳心？</p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/7/2.png">
            </div>
            <div class="content">
              <a class="header">Straightset Strap - White</a>
            </div>
            <div class="extra content">
              售價 $1100 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/7/3.png">
            </div>
            <div class="content">
              <a class="header">Straightset Strap - Grey</a>
            </div>
            <div class="extra content">
              售價 $1100 港幣
            </div>
          </div>
        </div>

      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/lacoste/7/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        长大后，穿上各式各样的鞋履，款式新颖颜色多变。但，闲时看到学生们，又有否想起在昔日的运动场上那对魔术贴白球鞋呢？这对魔术贴球鞋想当年是学生们的必备鞋款。想不到这个「儿时回忆」，在新一季成为让大家趋之若鹜的潮鞋，Lacoste亦和大家一同寻找这个儿时回忆，重回魔术贴球鞋的怀抱。
      </p>

      <p>
        Lacoste 在新一季的鞋履当中特别推出魔术贴鞋款Straightset Strap，和大家一同回到儿时回忆当中，更吻合现今潮流所向。 Lacoste 贵为简约主义的代表，全新设计的魔术贴款式亦配合品牌的DNA，延续其一贯的简约风格。 Straightset Strap分别有Lacoste 的经典白及淡灰色，鞋履均是单一的纯色外型，格外简洁，配上加宽的两间魔术贴设计，在脚踭上压上Lacoste 的经典鳄鱼logo，整对鞋履感觉极为连贯一致，更正是现在大热的鞋履款式！此外，魔术贴鞋履穿着简单，不用绑鞋带直接套在脚上便可，简直是懒人们的福音。而且鞋面的魔术贴，可以把鞋牢牢地套在脚上，不像普通slip on般容易脱落，跑跑跳跳都无问题。
      </p>

      <p>无论如何，全新鞋的Lacoste 魔术贴鞋履有否再次打动你的芳心？</p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/7/2.png">
            </div>
            <div class="content">
              <a class="header">Straightset Strap - White</a>
            </div>
            <div class="extra content">
              售价 $1100 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/7/3.png">
            </div>
            <div class="content">
              <a class="header">Straightset Strap - Grey</a>
            </div>
            <div class="extra content">
              售价 $1100 港币
            </div>
          </div>
        </div>

      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'Lacoste 與你尋找兒時回憶 全新魔術貼鞋履',
        tc: 'Lacoste 與你尋找兒時回憶 全新魔術貼鞋履',
        sc: 'Lacoste 与你寻找儿时回忆 全新魔术贴鞋履'
      }
    }
  }
}
</script>

<style scoped>

</style>
