<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/8/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        聖誕過後，又來到情人節了！時間過得真快！又是時候想想送甚麼給另一半了！近年流行波鞋風，不少女士也加入了波鞋行列。今個情人節不妨買對來自法國的鞋履給另一半，更能同時為自己買一雙，成為情侶鞋，為另一半製造一個低調的浪漫！
      </p>

      <p>
        在挑選鞋履方面，女人和男人亦同樣有要求，以優質鞋履著名來自法國的Lacoste 想必定能適合雙方的高要求！為了迎接情人節的到來，Lacoste 已為大家準備好情侶鞋款Seforra 及Nivolor。Seforra 和Nivolor使用優質皮鞋，以現代化的外表配合簡潔的線條，在鞋的中央縫上了經典的鱷魚logo，同時分別於女裝配上米色，男裝配上灰色於鞋中央之處，增加鞋履的可觀度，此外，Seforra 和Nivolor更以Lacoste最為受歡迎的白色作鞋履主要顏色，吻合現今的白鞋瘋潮。除卻外表，Lacoste 一直堅持鞋履的舒適度，Seforra 和Nivolor亦不例外，大支撐度的鞋底，避免任何刮腳的情況，讓你與愛侶穿上後能舒適的走遍全世界。
      </p>

      <p>在今個情人情，不妨買情侶鞋並來著伴侶走幸福的路！</p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/8/2.png">
            </div>
            <div class="content">
              <a class="header">Seforra</a>
            </div>
            <div class="extra content">
              售價 $900 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/8/3.png">
            </div>
            <div class="content">
              <a class="header">Nivlor</a>
            </div>
            <div class="extra content">
              售價 $900 港幣
            </div>
          </div>
        </div>

      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/lacoste/8/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        圣诞过后，又来到情人节了！时间过得真快！又是时候想想送什么给另一半了！近年流行波鞋风，不少女士也加入了波鞋行列。今个情人节不妨买对来自法国的鞋履给另一半，更能同时为自己买一双，成为情侣鞋，为另一半制造一个低调的浪漫！
      </p>

      <p>
        在挑选鞋履方面，女人和男人亦同样有要求，以优质鞋履著名来自法国的Lacoste 想必定能适合双方的高要求！为了迎接情人节的到来，Lacoste 已为大家准备好情侣鞋款Seforra 及Nivolor。 Seforra 和Nivolor使用优质皮鞋，以现代化的外表配合简洁的线条，在鞋的中央缝上了经典的鳄鱼logo，同时分别于女装配上米色，男装配上灰色于鞋中央之处，增加鞋履的可观度，此外，Seforra 和Nivolor更以Lacoste最为受欢迎的白色作鞋履主要颜色，吻合现今的白鞋疯潮。除却外表，Lacoste 一直坚持鞋履的舒适度，Seforra 和Nivolor亦不例外，大支撑度的鞋底，避免任何刮脚的情况，让你与爱侣穿上后能舒适的走遍全世界。
      </p>

      <p>在今个情人情，不妨买情侣鞋并来着伴侣走幸福的路！ </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/8/2.png">
            </div>
            <div class="content">
              <a class="header">Seforra</a>
            </div>
            <div class="extra content">
              售价 $900 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/8/3.png">
            </div>
            <div class="content">
              <a class="header">Nivlor</a>
            </div>
            <div class="extra content">
              售价 $900 港币
            </div>
          </div>
        </div>

      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: '情人節之選 送她/他一雙來自法國的鞋',
        tc: '情人節之選 送她/他一雙來自法國的鞋',
        sc: '情人节之选 送她/他一双来自法国的鞋'
      }
    }
  }
}
</script>

<style scoped>

</style>
