<template>
  <news-content :title="title">
    <div slot="tc">
      <img src="/static/images/news/lacoste/9/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        法國品牌Lacoste一向以簡約見稱，而當中一直大受歡迎的當然是純白色的休閒鞋。今季品牌特意為大熱款式添新意，於Graduate鞋款增添灰色的選擇，同時加上女生最愛的粉紅色，倍添可愛。
      </p>

      <p>
        灰色鞋一直被大眾忘記，但其實是十分百塔的顏色，無論深色牛仔褲底淺色短裙，也絕無配合。現時很多時尚達人也開始穿上不同類型的灰色鞋。
      </p>

      <p>Graduate鞋款貫徹Lacoste的DNA特質，將經典鱷魚logo印在鞋身上，在簡單中見其獨特之虛。此外，為增加舒適感及透氣度，Lacoste更細心地在鞋邊以粉紅色寫上品牌名稱，這是極少見的設計，可算是一個特別版。</p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/9/2.png">
            </div>
            <div class="content">
              <a class="header">Graduate</a>
            </div>
            <div class="extra content">
              售價 $850 港幣
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/9/3.png">
            </div>
            <div class="content">
              <a class="header">Graduate</a>
            </div>
            <div class="extra content">
              售價 $850 港幣
            </div>
          </div>
        </div>

      </div>
    </div>

    <div slot="sc">
      <img src="/static/images/news/lacoste/9/1.jpg" class="ui centered large bordered image">

      <br>

      <p>
        法国品牌Lacoste一向以简约见称，而当中一直大受欢迎的当然是纯白色的休闲鞋。今季品牌特意为大热款式添新意，于Graduate鞋款增添灰色的选择，同时加上女生最爱的粉红色，倍添可爱。
      </p>

      <p>
        灰色鞋一直被大众忘记，但其实是十分百塔的颜色，无论深色牛仔裤底浅色短裙，也绝无配合。现时很多时尚达人也开始穿上不同类型的灰色鞋。
      </p>

      <p>Graduate鞋款贯彻Lacoste的DNA特质，将经典鳄鱼logo印在鞋身上，在简单中见其独特之虚。此外，为增加舒适感及透气度，Lacoste更细心地在鞋边以粉红色写上品牌名称，这是极少见的设计，可算是一个特别版。 </p>

      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/9/2.png">
            </div>
            <div class="content">
              <a class="header">Graduate</a>
            </div>
            <div class="extra content">
              售价 $850 港币
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <img src="/static/images/news/lacoste/9/3.png">
            </div>
            <div class="content">
              <a class="header">Graduate</a>
            </div>
            <div class="extra content">
              售价 $850 港币
            </div>
          </div>
        </div>

      </div>
    </div>

  </news-content>
</template>

<script>
import NewsContent from '@/components/news/Content'

export default {
  name: 'news',
  components: {
    NewsContent
  },
  data() {
    return {
      title: {
        en: 'LACOSTE的經典變革',
        tc: 'LACOSTE的經典變革',
        sc: 'LACOSTE的经典变革'
      }
    }
  }
}
</script>

<style scoped>

</style>
