<template>
  <div class="ui breadcrumb">
    <a href="/" class="section">{{ $t('home') }}</a>
    <div class="divider"> / </div>
    <a href="/news" class="section">{{ $t('news') }}</a>
    <div class="divider"> / </div>
    <div class="active section">{{ title }}</div>
  </div>
</template>

<script>
export default {
  name: 'breadcrumb',

  props: [
    'title'
  ]
}
</script>

<style>

</style>
