<template>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <breadcrumb :title="title[language]"></breadcrumb>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h2 class="ui center aligned header">
          {{title[language]}}
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <justified-content>
          <div v-if="language !== 'sc'">
            <slot name="tc"></slot>
          </div>

          <div v-if="language === 'sc'">
            <slot name="sc"></slot>
          </div>
        </justified-content>
      </div>
    </div>

  </div>
</template>

<script>
import JustifiedContent from '@/components/common/JustifiedContent'
import Breadcrumb from '@/components/news/Breadcrumb'

export default {
  name: 'news-content',

  components: {
    JustifiedContent,
    Breadcrumb
  },

  props: [
    'title'
  ],

  data() {
    return {
      language: localStorage.getItem('lang') ? localStorage.getItem('lang') : 'tc'
    }
  }
}
</script>

<style scoped>

</style>
