<template>
  <div class="item">
    <a :href="item.route" class="ui medium image">
      <img :src="item.image">
    </a>
    <div class="content">
      <a :href="item.route" class="header">
        {{ item.header }}
      </a>

      <div class="description">
        {{ item.description }}
      </div>

      <div class="extra">
        <div class="ui label">{{ item.tag }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'list-item',

  props: [
    'item'
  ]
}
</script>

<style>

</style>
